In [2]:
from fhub import Session

hub = Session(your_finnhub_api_key_here)

In [6]:
# Download prices time serie of Tesla.
hub.candle('TSLA')

                      close    high     low    open    volume
datetime
2010-06-29 13:30:00   23.89   25.00   17.54   19.00  18766300
2010-06-30 13:30:00   23.83   30.42   23.30   25.79  17187100
2010-07-01 13:30:00   21.96   25.92   20.27   25.00   8218800
2010-07-02 13:30:00   19.20   23.10   18.71   23.00   5139800
2010-07-06 13:30:00   16.11   20.00   15.83   20.00   6866900
...                     ...     ...     ...     ...       ...
2020-05-04 13:30:00  761.19  762.00  698.00  701.00  19237100
2020-05-05 13:30:00  768.21  798.92  762.18  789.79  16991700
2020-05-06 13:30:00  782.58  789.80  761.11  776.50  11123200
2020-05-07 13:30:00  780.04  796.40  772.35  777.21  11527700
2020-05-08 13:30:00  819.42  824.00  787.01  793.77  16086500

[2483 rows x 5 columns]

In [7]:
# Download prices for several tickers from a date.
hub.candle(['AMZN', 'NFLX', 'DIS'], start="2018-01-01")

                         close                       high                    \
                          AMZN       DIS    NFLX     AMZN       DIS    NFLX
datetime
2018-01-02 14:30:00  1189.0100  108.7261  201.07  1190.00  108.7361  201.65
2018-01-03 14:30:00  1204.2000  109.1929  205.05  1205.49  110.1029  206.21
2018-01-04 14:30:00  1209.5900  109.1442  205.63  1215.87  109.9142  207.05
2018-01-05 14:30:00  1229.1400  108.5510  209.99  1229.14  109.6110  210.02
2018-01-08 14:30:00  1246.8700  106.9950  212.05  1253.08  108.2550  212.50
...                        ...       ...     ...      ...       ...     ...
2020-05-04 13:30:00  2315.9900  103.1800  428.15  2326.98  103.8300  428.54
2020-05-05 13:30:00  2317.8000  101.0600  424.68  2351.00  105.1800  431.00
2020-05-06 13:30:00  2351.2600  100.8800  434.26  2357.45  105.2700  439.77
2020-05-07 13:30:00  2367.6101  105.5700  436.53  2376.00  105.6100  438.88
2020-05-08 13:30:00  2379.6101  109.1600  435.55  2387.24  109.1800  442.00

                           low                         open                    \
                          AMZN       DIS    NFLX       AMZN       DIS    NFLX
datetime
2018-01-02 14:30:00  1170.5100  105.4861  195.42  1172.0000  105.8761  196.10
2018-01-03 14:30:00  1188.3000  108.3629  201.50  1188.3000  109.1029  202.05
2018-01-04 14:30:00  1204.6600  108.5442  204.00  1205.0000  109.8642  206.20
2018-01-05 14:30:00  1210.0000  108.1710  205.59  1217.5100  109.6110  207.25
2018-01-08 14:30:00  1232.0300  106.5150  208.44  1236.0000  107.8650  210.02
...                        ...       ...     ...        ...       ...     ...
2020-05-04 13:30:00  2256.3799  100.5500  414.87  2256.3799  102.0100  417.78
2020-05-05 13:30:00  2307.1299  100.9000  421.56  2340.0000  101.5100  427.56
2020-05-06 13:30:00  2320.0000   98.8600  426.39  2329.4399  101.4800  429.30
2020-05-07 13:30:00  2343.1101  101.8300  430.66  2374.7800  101.8500  436.89
2020-05-08 13:30:00  2357.0000  106.6300  433.64  2372.1399  109.0500  434.14

                      volume
                        AMZN       DIS      NFLX
datetime
2018-01-02 14:30:00  2694500  11014300  10966900
2018-01-03 14:30:00  3108800   9237900   8591400
2018-01-04 14:30:00  3022100   7417400   6029600
2018-01-05 14:30:00  3544700   6008300   7033200
2018-01-08 14:30:00  4279500   8052600   5580200
...                      ...       ...       ...
2020-05-04 13:30:00  4865900  19514800   7799100
2020-05-05 13:30:00  3242500  30169800   6286300
2020-05-06 13:30:00  3117800  51992400   6660700
2020-05-07 13:30:00  3396400  20868800   5641900
2020-05-08 13:30:00  3206600  24079700   5049300

[592 rows x 15 columns]

In [8]:
hub.exchanges('forex')

         forex
0        oanda
1         fxcm
2    forex.com
3    icmtrader
4   ic markets
5        fxpro
6       octafx
7        fxpig
8  pepperstone

In [9]:
hub.symbols('ic markets', kind='forex')

,description,displaySymbol,symbol
0,IC MARKETS Silver vs Euro XAGEUR,XAG/EUR,IC MARKETS:44
1,IC MARKETS Silver vs US Dollar XAGUSD,XAG/USD,IC MARKETS:42
2,IC MARKETS Gold vs Euro XAUEUR,XAU/EUR,IC MARKETS:43
3,IC MARKETS Gold vs US Dollar XAUUSD,XAU/USD,IC MARKETS:41
4,IC MARKETS Euro vs US Dollar EURUSD,EUR/USD,IC MARKETS:1
...,...,...,...
77,IC MARKETS Brent Crude Oil XBRUSD,XBR/USD,IC MARKETS:10018
78,IC MARKETS WTI Light Crude Oil XTIUSD,XTI/USD,IC MARKETS:10019
79,IC MARKETS Euro vs US Dollar EURUSDt,EUR10023/USD,IC MARKETS:10023
80,IC MARKETS Bitcoin BTCUSD,BTC/USD,IC MARKETS:10026
81,IC MARKETS Great Britain Pound vs Turkish Lira...,GBP/TRY,IC MARKETS:10031

In [10]:
hub.quote('OANDA:XAU_NZD')

                      OANDA:XAU_NZD
close                       2778.16
high                        2782.92
low                         2774.91
open                        2777.45
previous_close              2765.79
datetime        2020-05-10 21:00:00

In [11]:
hub.candle('IC MARKETS:44', kind='forex')

                      close    high     low    open  volume
datetime
2019-05-12 21:00:00  13.127  13.160  12.992  13.149   25589
2019-05-13 21:00:00  13.186  13.243  13.111  13.152   26572
2019-05-14 21:00:00  13.193  13.255  13.167  13.192   26853
2019-05-15 21:00:00  13.016  13.221  12.978  13.198   22359
2019-05-16 21:00:00  12.881  13.024  12.881  13.016   24301
...                     ...     ...     ...     ...     ...
2020-05-04 21:00:00  13.794  13.849  13.512  13.525   40060
2020-05-05 21:00:00  13.754  14.011  13.713  13.772   48147
2020-05-06 21:00:00  14.164  14.243  13.693  13.701   48996
2020-05-07 21:00:00  14.260  14.403  14.031  14.148   45536
2020-05-10 21:00:00  14.326  14.350  14.252  14.252     731

[258 rows x 5 columns]

In [12]:
hub.covid19()

Not possible parse dates of updated

                        state    case  death              updated
0                    New York  345871  26776  2020-05-10 18:00:02
1                  New Jersey  138754   9256  2020-05-10 18:00:02
2                  California   66826   2695  2020-05-10 18:00:02
3                    Michigan   46815   4530  2020-05-10 18:00:02
4                     Florida   40433   1716  2020-05-10 18:00:02
..                        ...     ...    ...                  ...
57              Wuhan Evacuee       4      0  2020-05-10 18:00:02
58   Northern Mariana Islands      16      2  2020-05-10 18:00:02
59                US Military    7826     27  2020-05-10 18:00:02
60  Federal Bureau of Prisons    3695     46  2020-05-10 18:00:02
61             Veteran Affair   10930    857  2020-05-10 18:00:02

[62 rows x 4 columns]

In [13]:
hub.executive('AAPL')

,age,compensation,currency,name,position,sex,since,symbol
0,69.0,557922.0,USD,Dr. Arthur Levinson,Independent Chairman of the Board,male,2011,AAPL
1,59.0,11555466.0,USD,Mr. Timothy Cook,"Chief Executive Officer, Director",male,2011,AAPL
2,56.0,25209637.0,USD,Mr. Luca Maestri,"Chief Financial Officer, Senior Vice President",male,2014,AAPL
3,56.0,25207919.0,USD,Mr. Jeffrey Williams,Chief Operating Officer,male,2018,AAPL
4,55.0,25231800.0,USD,Ms. Katherine Adams,"Senior Vice President, General Counsel, Secretary",female,2017,AAPL
5,58.0,11677211.0,USD,Mr. Philip Schiller,Senior Vice President - Worldwide Marketing,male,2002,AAPL
6,56.0,22807544.0,USD,Mr. Eddy Cue,Senior Vice President - Internet Software and ...,male,2011,AAPL
7,48.0,NaN,,Mr. Craig Federighi,Senior Vice President - Software Engineering,male,2012,AAPL
8,NaN,NaN,,Mr. John Giannandrea,Senior Vice President - Machine Learning and A...,male,2018,AAPL
9,53.0,19159780.0,USD,Ms. Deirdre O'Brien,Senior Vice President - Retail + People,female,2019,AAPL
10,55.0,24146046.0,USD,Mr. Daniel Riccio,Senior Vice President - Hardware Engineering,male,2012,AAPL
11,54.0,24162392.0,USD,Mr. Johny Srouji,Senior Vice President - Hardware Technologies,male,2015,AAPL
12,71.0,355837.0,USD,Mr. James Bell,Independent Director,male,2015,AAPL
13,71.0,360264.0,USD,Mr. Albert Gore,Independent Director,male,2003,AAPL
14,61.0,385388.0,USD,Ms. Andrea Jung,Independent Director,female,2008,AAPL
15,71.0,400878.0,USD,Dr. Ronald Sugar,Independent Director,male,2010,AAPL
16,57.0,354923.0,USD,Ms. Sue Wagner,Independent Director,female,2014,AAPL
17,67.0,398988.0,USD,Mr. Robert Iger,Independent Director,male,2011,AAPL
18,59.0,22278242.0,USD,Ms. Angela Ahrendts,Senior Vice President - Retail,female,2014,AAPL
19,NaN,NaN,,Mr. Jonathan Ive,Chief Design Officer,male,None,AAPL
20,58.0,24146046.0,USD,Mr. Durward Sewell,"Senior Vice President, General Counsel, Secretary",male,2009,AAPL
21,NaN,NaN,,Ms. Nancy Paxton,IR Contact Officer,female,2016,AAPL
22,72.0,25622.0,USD,Mr. Millard Drexler,Independent Director,male,1999,AAPL
23,56.0,4517720.0,USD,Mr. Peter Oppenheimer,Senior Vice President,male,2014,AAPL
24,74.0,NaN,,Mr. William Campbell,Independent Director,male,1997,AAPL
25,NaN,85540637.0,USD,Mr. Robert Mansfield,Senior Vice President - Technologies,male,2013,AAPL
26,54.0,NaN,,Mr. John Browett,Senior Vice President - Retail,male,2012,AAPL
27,43.0,1416527.0,USD,Mr. Scott Forstall,Senior Vice President - iPhone Software Engine...,male,2008,AAPL
28,54.0,1416143.0,USD,Mr. Ronald Johnson,Senior Vice President - Retail,male,2000,AAPL
29,60.0,1.0,USD,Mr. Steven Jobs,Chairman of the Board,male,2011,AAPL
30,NaN,NaN,,Bertrand Serlet,Senior Vice President - Software Engineering,male,2003,AAPL
31,57.0,NaN,,Mr. Mark Papermaster,Senior Vice President - iPhone Engineering,male,None,AAPL
32,80.0,NaN,,Mr. Jerome York,Director,male,1997,AAPL
33,68.0,NaN,,Mr. Daniel Cooperman,"Senior Vice President, General Counsel, Secretary",male,2007,AAPL
34,64.0,NaN,,Dr. Eric Schmidt,Director,male,2006,AAPL
35,56.0,NaN,,Sina Tamaddon,Senior Vice President - Applications,male,2000,AAPL
36,44.0,NaN,,Anthony Fadell,Senior Vice President - iPod Division,male,None,AAPL
37,68.0,NaN,,Mr. Donald Rosenberg,"Senior Vice President, General Counsel, Secretary",male,2006,AAPL
38,74.0,668081.0,USD,Mr. Frederick Anderson,Director,male,2004,AAPL
39,60.0,NaN,,Ms. Nancy Heinen,"Senior Vice President, General Counsel and Sec...",female,1997,AAPL
40,62.0,1116634.0,USD,Mr. Jonathan Rubinstein,"Senior Vice President, iPod Division",male,1997,AAPL
41,58.0,5583019.0,USD,Dr. Avadis Tevanian,"Senior Vice President, Chief Software Technolo...",male,2003,AAPL
42,75.0,NaN,,Mr. Lawrence Ellison,Director,male,1997,AAPL
43,73.0,NaN,,Mr. Gareth Chang,Director,male,1996,AAPL
44,56.0,410141.0,USD,Mitchell Mandich,"Senior Vice President, Worldwide Sales",male,None,AAPL
45,84.0,NaN,,Mr. Edgar Woolard,Director,male,1996,AAPL

In [14]:
hub.news()

,category,datetime,headline,id,image,related,source,summary,url
0,top news,1589149217,Oil prices fall 1% as glut weighs,4297972,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Oil prices opened about 1% lower on Sunday as ...,https://www.reuters.com/article/us-global-oil/...
1,finance,1589148296,US stock futures fall following back-to-back r...,4297920,https://image.cnbcfm.com/api/v1/image/10650792...,,CNBC,U.S. stock futures fell on Sunday night after ...,https://www.cnbc.com/2020/05/10/stock-market-f...
2,top news,1589144401,US is risking a second coronavirus wave and a ...,4297708,https://image.cnbcfm.com/api/v1/image/10631871...,,CNBC,Mark Zandi of Moody's Analytics' worries busin...,https://www.cnbc.com/2020/05/10/us-is-risking-...
3,company news,1589140517,"Cargill to shut Quebec beef plant temporarily,...",4297501,https://s1.reutersmedia.net/resources/r/?m=02&...,,Reuters,The Canadian arm of U.S.\nagribusiness Cargill...,https://www.reuters.com/article/us-health-coro...
4,top news,1589139068,Washington in talks with chipmakers about buil...,4297395,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,The Trump administration is in talks with semi...,https://www.reuters.com/article/us-usa-tech-tr...
5,top news,1589138966,Tesla says it will resume operations. Here is ...,4297344,https://image.cnbcfm.com/api/v1/image/10599747...,,CNBC,Tesla CEO Elon Musk has been sparring with reg...,https://www.cnbc.com/2020/05/10/coronavirus-te...
6,company news,1589138570,UPDATE 1-Washington in talks with chipmakers a...,4297337,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,The Trump administration is in talks with\nsem...,https://www.reuters.com/article/usa-tech-trump...
7,company news,1589137713,UPDATE 1-Israel to demand changes at flag carr...,4297338,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,The Israeli government will\ndemand that El Al...,https://www.reuters.com/article/us-health-coro...
8,company news,1589135806,UPDATE 3-Latin America's second-biggest airlin...,4297227,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,"Avianca Holdings\n, Latin America's No. 2 airl...",https://www.reuters.com/article/us-avianca-hol...
9,top news,1589134922,No end to lockdown yet but 'careful' easing be...,4297117,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,British Prime Minister Boris Johnson said on S...,https://www.reuters.com/article/us-health-coro...
10,top news,1589134819,PM Boris Johnson's address to British people o...,4297118,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,British Prime Minister Boris Johnson made a te...,https://www.reuters.com/article/us-health-coro...
11,company news,1589132338,UPDATE 2-Colombia's Avianca airline files for ...,4296964,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,"Avianca Holdings SA\n, Latin America's second-...",https://www.reuters.com/article/us-avianca-hol...
12,business,1589131873,EU could open legal case against Germany over ...,4296962,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,The European Commission could open a legal cas...,https://www.reuters.com/article/us-ecb-policy-...
13,business,1589131451,Germany's Altmaier opposes active state role a...,4296963,https://s1.reutersmedia.net/resources/r/?m=02&...,,Reuters,"Germany is working on a ""concrete model"" to ai...",https://www.reuters.com/article/us-lufthansa-g...
14,top news,1589130606,New York to test nursing home staff twice a we...,4296852,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,All nursing homes in New York state will be re...,https://www.reuters.com/article/us-health-coro...
15,company news,1589130227,Colombia's Avianca files for bankruptcy,4296851,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Colombian airline Avianca Inc filed for\nChapt...,https://www.reuters.com/article/us-avianca-hol...
16,company news,1589130227,Colombia's Avianca files for bankruptcy,4296905,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,Colombian airline Avianca Inc filed for\nChapt...,https://www.reuters.com/article/avianca-holdin...
17,top news,1589129830,Mnuchin says jobless numbers will 'get worse b...,4296801,https://image.cnbcfm.com/api/v1/image/10652595...,,CNBC,"""The reported numbers are probably going to ge...",https://www.cnbc.com/2020/05/10/coronavirus-mn...
18,top news,1589129622,White House considers more coronavirus stimulu...,4296797,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,The White House has started informal talks wit...,https://www.reuters.com/article/us-usa-congres...
19,top news,1589127010,Schumer calls on VA to explain use of unproven...,4296695,https://image.cnbcfm.com/api/v1/image/10653032...,,CNBC,The Senate's top Democrat on Sunday called on ...,https://www.cnbc.com/2020/05/10/schumer-calls-...

In [15]:
hub.company_news('NFLX')

,category,datetime,headline,id,image,related,source,summary,url
0,company,2020-05-10 22:00:52,US stock futures fall following back-to-back r...,1906026,https://image.cnbcfm.com/api/v1/image/10650792...,"SPGI,MAT,SSFT,BLBX,AAPL,WSSE,WSCO,JCE,VRTS,FB,...",cnbc,U.S. stock futures fell on Sunday night after ...,https://www.cnbc.com/2020/05/10/stock-market-f...
1,company,2020-05-10 20:55:12,Why Disney Stock Deserves The Attention Of New...,1905942,https://static3.seekingalpha.com/assets/og_ima...,"DIS,MAT,KOD,GTN,BURG,NFLX",seekingalpha,Quarterly profits are down 91%. Operating inco...,https://seekingalpha.com/article/4345809-why-d...
2,company,2020-05-10 20:54:00,TV cord-cutting spikes amid stay-at-home orders,1905778,https://mw3.wsj.net/mw5/content/logos/mw_logo_...,"CMCSA,DIS,DISH,T,TLLEQ,CHTR,NFLX,ATUS,AMZN",marketwatch,Americans' urge to disconnect the living-room ...,https://www.marketwatch.com/story/tv-cord-cutt...
3,company,2020-05-10 14:04:47,Tech executive moms are juggling employees and...,1904503,https://image.cnbcfm.com/api/v1/image/10652731...,"QQQX,NDAQ,STK,NFLX",cnbc,Tech execs who are moms have had a particularl...,https://www.cnbc.com/2020/05/10/coronavirus-mo...
4,company,2020-05-10 14:00:01,Barack Obama couldn't afford a ticket to see M...,1904519,https://image.cnbcfm.com/api/v1/image/10652325...,"PANC,MSGN,NFLX,OMMH,PTEL",cnbc,When Michael Jordan started playing for the Bu...,https://www.cnbc.com/2020/05/10/barack-obama-c...
5,company,2020-05-10 13:37:54,AT&T - Less Than 3 Weeks Until The Transformat...,1904523,https://static3.seekingalpha.com/assets/og_ima...,"FWONA,NFLX,BLBX,T,TLLEQ,SALN",seekingalpha,AT&T has an impressive portfolio of assets wit...,https://seekingalpha.com/article/4345638-t-les...
6,company,2020-05-10 13:37:37,Houghton Mifflin Harcourt Company (HMHC) CEO J...,1904859,https://static3.seekingalpha.com/assets/og_ima...,"NFLX,NYT,AMZN,HMHC",seekingalpha,Houghton Mifflin Harcourt Company (NASDAQ:HMHC...,https://seekingalpha.com/article/4345642-hough...
7,company,2020-05-10 13:35:00,"Play Defense With High Dividends: Buy Verizon,...",1904540,https://static3.seekingalpha.com/assets/og_ima...,"SPGI,MLFB,SPXX,VZ,CDWD,DIS,ZM,BXMX,JCE,NFLX,GO...",seekingalpha,Telecom is one of the most defensive sectors f...,https://seekingalpha.com/article/4343628-play-...
8,company,2020-05-10 13:00:01,Best contactless credit cards,1904327,https://image.cnbcfm.com/api/v1/image/10633857...,"NFLX,C,CTRN,RUTH,NFSE,AXP,CAKE",cnbc,"Contactless credit cards provide a safer, quic...",https://www.cnbc.com/select/best-contactless-c...
9,company,2020-05-10 11:00:23,Sexual healing: using lockdown to ignite desire,1903897,https://i.guim.co.uk/img/media/1284d9520321fa0...,NFLX,theguardian,This could be the perfect time for couples to ...,https://www.theguardian.com/lifeandstyle/2020/...
10,company,2020-05-10 09:30:21,On my radar: Big Zuu's cultural highlights,1903566,https://i.guim.co.uk/img/media/57f4049bf5d7855...,"YUM,YUMC,EDNT,EA,NFLX",theguardian,The London rapper on finding unity in gaming a...,https://www.theguardian.com/culture/2020/may/1...
11,company,2020-05-10 08:30:20,"The week in TV: The A Word, Isolation Stories,...",1903477,https://i.guim.co.uk/img/media/ea3669bb62e9b29...,"NFLX,AAPL",theguardian,Peter Bowker’s wry autism drama returned to fr...,https://www.theguardian.com/tv-and-radio/2020/...
12,company,2020-05-10 06:05:34,Weekly Commentary: Schumpeter's Business Cycle...,1903218,https://static3.seekingalpha.com/assets/og_ima...,"CCGN,MSFT,VCLD,NYT,JCE,AAPL,WEYL,CNNA,SSFT,GOO...",seekingalpha,When I ponder analytical frameworks pertinent ...,https://seekingalpha.com/article/4345550-weekl...
13,company,2020-05-10 05:59:19,BANG: Making FANG Look Tame,1903158,https://static3.seekingalpha.com/assets/og_ima...,"GOOGL,CDWD,FB,LTUS,BLBX,NEM,NFLX",seekingalpha,Two years ago I argued the major gold mining s...,https://seekingalpha.com/article/4345549-bang-...
14,company,2020-05-10 05:45:49,The 4th Great Unlock,1903349,https://static3.seekingalpha.com/assets/og_ima...,"SILK,NFLX,VZ,TLLEQ,GPK,WMT,PLSE,BLBX,AMZN,MUSA...",seekingalpha,An unlock is the discovery of an accelerant fo...,https://seekingalpha.com/article/4345545-4th-g...
15,company,2020-05-10 00:41:12,Formula One Group (FWONA) CEO Chase Carey on Q...,1902623,https://static3.seekingalpha.com/assets/og_ima...,"FB,NFLX,FWONA,FRG,GACR",seekingalpha,Formula One Group (NASDAQ:FWONA) Q1 2020 Earni...,https://seekingalpha.com/article/4345473-formu...
16,company,2020-05-10 00:00:00,"'Psyched': Compass Closes $80M Series B, Danis...",1905990,https://cdn.benzinga.com/files/imagecache/og_i...,"NFLX,XXII",benzinga,"Welcome to Psyched, a bi-monthly column coveri...",https://www.benzinga.com/node/15994258
17,company,2020-05-10 00:00:00,"'Psyched': Compass Closes $80M Series B, Danis...",1905718,https://cdn.benzinga.com/files/imagecache/og_i...,"XXII,NFLX",benzinga,"Welcome to Psyched, a bi-monthly column coveri...",https://www.benzinga.com/markets/cannabis/20/0...
18,company,2020-05-09 16:16:34,"Hudson Pacific Properties, Inc. (HPP) CEO Vict...",1901667,https://static3.seekingalpha.com/assets/og_ima...,"BLBX,NFLX,HPP,KOD,GTN,BURG,GOOGL,CDWD",seekingalpha,"Hudson Pacific Properties, Inc. (NYSE:HPP) Q1 ...",https://seekingalpha.com/article/4345331-hudso...
19,company,2020-05-09 12:04:30,"Coronavirus has taken millions of jobs, but he...",1900744,https://image.cnbcfm.com/api/v1/image/10652894...,NFLX,cnbc,While some jobs won't be coming back after the...,https://www.cnbc.com/2020/05/09/coronavirus-ha...
20,company,2020-05-09 09:00:52,"Terrible name, terrific sitcom: how Schitt's C...",1900360,https://i.guim.co.uk/img/media/2e31bbee850417e...,"GTN,BURG,NFLX,KOD",theguardian,Word of mouth turned the riches-to-rags show i...,https://www.theguardian.com/tv-and-radio/2020/...
21,company,2020-05-09 08:29:51,Julian Sands: ‘My worst job? Father Christmas ...,1900229,https://i.guim.co.uk/img/media/cf3d8e9749568a8...,NFLX,theguardian,"The actor on Derek Jarman, his wife’s right ey...",https://www.theguardian.com/lifeandstyle/2020/...
22,company,2020-05-09 07:00:50,'I'm losing my teenage years': young contend w...,1900141,https://i.guim.co.uk/img/media/7d0d8e782f21386...,"PVBC,ESXB,ESS,SSFT,MSFT,VCLD,NFLX",theguardian,Teenagers affirm evidence that suggests they a...,https://www.theguardian.com/society/2020/may/0...
23,company,2020-05-09 07:00:50,Streaming: the joy of romcoms,1900126,https://i.guim.co.uk/img/media/1982dbb18323e28...,"NFLX,DIS,MAT,T",theguardian,Elizabeth Sankey’s fine documentary on the gen...,https://www.theguardian.com/film/2020/may/09/s...
24,company,2020-05-09 07:00:49,The Last Dance: Is the Michael Jordan document...,1900055,https://i.guim.co.uk/img/media/12f2783c1a56bfb...,"TPCO,NFLX,NKE,FWONA,SIRI,MSGN",theguardian,The hit docuseries on Michael Jordan and the 9...,https://www.theguardian.com/sport/2020/may/09/...
25,company,2020-05-09 02:36:18,TELUS Corporation (TU) CEO Darren Entwistle on...,317767,https://static3.seekingalpha.com/assets/og_ima...,"NFLX,BLBX",seekingalpha,TELUS Corporation (NYSE:TU) Q1 2020 Earnings C...,https://seekingalpha.com/article/4345181-telus...
26,company,2020-05-09 00:41:03,The Top Stocks To Buy Now,294130,https://static3.seekingalpha.com/assets/og_ima...,"ONVO,MRTN,EQIX,QTS,ETSY,PYPL,MKTX,DXCM,LMNX,SP...",seekingalpha,Individual stock picking is increasingly impor...,https://seekingalpha.com/article/4345159-top-s...
27,company,2020-05-09 00:00:00,Steve Carell? Real U.S. Space Force chief want...,1899913,https://i-invdn-com.akamaized.net/trkd-images/...,"TWTR,NFLX",investing,Steve Carell? Real U.S. Space Force chief want...,https://www.investing.com/news/general/steve-c...
28,company,2020-05-08 21:14:00,Tech Stocks Are Getting Pricey. Here Are 12 St...,292734,https://images.barrons.com/im-184644/social,"AMZN,HPQ,TDOC,LCLP,HPQ,CTXS,MU,XRX,ETSY,APRN,U...",barrons,The Nasdaq Composite has soared more than 30% ...,https://www.barrons.com/articles/tech-stocks-a...
29,company news,2020-05-08 20:03:00,The U.S. economy may be in for a ‘square root’...,1898165,https://s.yimg.com/uu/api/res/1.2/gLIEkIEn9v5G...,NFLX,Yahoo,"Now add to that alphabet soup a square root, w...",https://finance.yahoo.com/m/377b4599-75d6-3d33...
30,company,2020-05-08 19:03:22,Disney: 30% Upside Potential With Stronger Fin...,293428,https://static3.seekingalpha.com/assets/og_ima...,"NFLX,DIS,MAT,MLFB",seekingalpha,"Disney has experienced top-line growth, driven...",https://seekingalpha.com/article/4344963-disne...
31,company news,2020-05-08 17:52:00,"China’s Tech Stocks Are Rallying. Why Tencent,...",1898202,https://s.yimg.com/cv/apiv2/social/images/yaho...,NFLX,Yahoo,China’s technology stocks are benefiting from ...,https://finance.yahoo.com/m/d96cafce-c13e-3fe4...
32,company,2020-05-08 17:14:10,"One way to play the rally in growth stocks, tr...",290558,https://image.cnbcfm.com/api/v1/image/10602966...,"MA,AAPL,SSFT,MSFT,VCLD,COHU,DLA,FB,NFLX,SPXX,B...",cnbc,"Growth is racing ahead of value this week, and...",https://www.cnbc.com/2020/05/08/growth-vs-valu...
33,company,2020-05-08 16:23:00,"With Sports Shut Down, Cord-Cutting Picks Up S...",289999,https://images.barrons.com/im-185079/social,"T,TLLEQ,VZ,CMCSA,DISH,ROKU,KOD,GTN,BURG,CMCSA,...",barrons,Analysts estimate steep first-quarter drops in...,https://www.barrons.com/articles/cord-cutting-...
34,company,2020-05-08 16:19:06,Tenable: Resilient Business Model Continues To...,290069,https://static3.seekingalpha.com/assets/og_ima...,NFLX,seekingalpha,Tenable reported Q1 revenue that was ahead of ...,https://seekingalpha.com/article/4344780-tenab...
35,company,2020-05-08 15:53:00,Great Escapes: Lyf App Co-Founder & CEO Eddie ...,289826,https://s.wsj.net/public/resources/MWimages/MW...,NFLX,marketwatch,The Melbourne native is the founder of “The Wo...,https://www.marketwatch.com/articles/great-esc...
36,company,2020-05-08 15:53:00,Great Escapes: Lyf App Co-Founder & CEO Eddie ...,289710,https://images.barrons.com/im-185125/social,NFLX,barrons,The Melbourne native is the founder of “The Wo...,https://www.barrons.com/articles/great-escapes...
37,company,2020-05-08 15:51:00,Marie Kondo Still Wants to Tidy Up,289949,https://images.wsj.net/im-183828/social,NFLX,wsj,The organizing expert launched her new book on...,https://www.wsj.com/articles/marie-kondo-still...
38,company,2020-05-08 15:38:11,Coronavirus has emptied public spaces – but it...,289908,https://i.guim.co.uk/img/media/042b83bcd21e20e...,"SKVY,LVRP,NFLX",theguardian,Business models reliant on maximum footfall ar...,https://www.theguardian.com/commentisfree/2020...
39,company news,2020-05-08 15:30:49,The Most Alarming Thing About Disney&#39;s Ear...,1898306,https://s.yimg.com/uu/api/res/1.2/Kd75w1cj9ykh...,NFLX,Yahoo,The entertainment giant is spending a relative...,https://finance.yahoo.com/m/5cc8622c-9378-3821...
40,company,2020-05-08 13:22:44,Why the stock market is up even with historic ...,288453,https://image.cnbcfm.com/api/v1/image/10650279...,"LGI,MNSB,NFLX,GMZ,GER,SPXX,BXMX,SPGI,JCE,BRK-A...",cnbc,The most Americans in history lost their job i...,https://www.cnbc.com/2020/05/08/why-the-market...
41,company news,2020-05-08 12:00:29,Where actress Sarayu Blue unwinds from virus s...,1898315,https://s.yimg.com/uu/api/res/1.2/x3_m0xA17W.p...,NFLX,Yahoo,The oddly timely parody has Blue playing a CDC...,https://finance.yahoo.com/news/where-actress-s...
42,company news,2020-05-08 12:00:29,"How Covid-19 Is Changing Entertainment, in Fiv...",1898289,https://s.yimg.com/uu/api/res/1.2/T0xF4Q1Tlffh...,NFLX,Yahoo,(Bloomberg Opinion) -- Investors are almost th...,https://finance.yahoo.com/news/covid-19-changi...
43,company,2020-05-08 11:40:36,Why Small Caps Lag In This Economic Downturn,286861,https://static3.seekingalpha.com/assets/og_ima...,"SPXX,BXMX,SPGI,JCE,AAPL,DLPX,FB,NFLX,GOOGL,CDWD",seekingalpha,"Since early 2019, the Russell 2000, the primar...",https://seekingalpha.com/article/4344569-why-s...
44,company,2020-05-08 11:38:42,"Stock market live updates: Dow futures up 200,...",287193,https://image.cnbcfm.com/api/v1/image/10643721...,"FB,UBER,QQQX,NDAQ,STK,UBER,GMZ,GER,GS,GSBD,GSI...",cnbc,A conversation about the latest market-moving ...,https://www.cnbc.com/2020/05/08/stock-market-t...
45,company,2020-05-08 11:09:47,The Eddy review – dark musical drama needs som...,286817,https://i.guim.co.uk/img/media/50bb2ef31d4f396...,NFLX,theguardian,"Far from La La Land, Damien Chazelle’s Netflix...",https://www.theguardian.com/tv-and-radio/2020/...
46,company news,2020-05-08 11:00:30,Jobless Benefits May Be the Intended Victim of...,1898317,https://s.yimg.com/uu/api/res/1.2/QUBKBEq0Qu6B...,NFLX,Yahoo,(Bloomberg Opinion) -- Many states are racing ...,https://finance.yahoo.com/news/jobless-benefit...
47,company,2020-05-08 11:00:00,"China’s Tech Stocks Are Rallying. Why Tencent,...",286207,https://images.barrons.com/im-184844/social,"SBUX,NFLX,AMZN,TME,AMZN,FB,LK,CVCS,ITPC,PRLE,I...",barrons,China’s technology stocks are benefiting from ...,https://www.barrons.com/articles/chinas-tech-s...
48,company,2020-05-08 10:20:16,First thing: states are reopening without CDC'...,286193,https://i.guim.co.uk/img/media/f39a42a83102d8f...,"LWEL,AMZN,NFLX,QQQX,NDAQ,STK,UBER",theguardian,The Trump administration shelved the advice fr...,https://www.theguardian.com/us-news/2020/may/0...
49,company news,2020-05-08 10:00:46,Netflix is chilling in Iceland but the rest of...,1898318,https://s.yimg.com/cv/apiv2/social/images/yaho...,NFLX,Yahoo,Although he later dismissed it as a “playful m...,https://finance.yahoo.com/m/16d42c0c-5eec-33ae...

In [16]:
hub.major_development('DIS', start='2019-01-01')

Not possible parse dates of datetime

,symbol,datetime,headline,description
0,DIS,2020-05-05 22:46:27,The Walt Disney Company Says Q2 EPS Of $0.60 E...,THE WALT DISNEY COMPANY REPORTS SECOND QUARTER...
1,DIS,2020-05-05 22:46:23,"Walt Disney Co Says Furloughed Over 120,000 Em...","WALT DISNEY CO SAYS FURLOUGHED OVER 120,000 OF..."
2,DIS,2020-05-05 21:36:44,The Walt Disney Company To Forgo Next Semi-Ann...,THE WALT DISNEY COMPANY BOARD DECIDES TO FORGO...
3,DIS,2020-05-01 18:10:30,WarnerMedia And Hulu Reach Distribution Agreem...,WARNERMEDIA AND HULU REACH DISTRIBUTION AGREEM...
4,DIS,2020-04-23 13:34:27,S&P Says Disney Ratings Lowered To 'A-' Amid C...,S&P SAYS DISNEY RATINGS LOWERED TO 'A-' AMID C...
5,DIS,2020-04-13 21:32:22,Walt Disney Co Enters 364-Day Credit Agreement...,"WALT DISNEY CO - ON APRIL 10, 2020, ENTERED I..."
6,DIS,2020-04-12 20:41:09,"Disney World Furloughing 43,000 Workers - New ...",":DISNEY WORLD FURLOUGHING 43,000 WORKERS"
7,DIS,2020-04-08 22:49:02,Disney+ Paid Subscriber Count Surpasses 50 Mln...,DISNEY+ PAID SUBSCRIBER COUNT SURPASSES 50 MIL...
8,DIS,2020-04-02 22:22:08,Walt Disney's Furlough Process Will Begin On A...,STATEMENT FROM THE WALT DISNEY COMPANY REGARDI...
9,DIS,2020-03-30 22:38:29,Walt Disney Sees Reductions In Base Salary Amo...,WALT DISNEY CO - EFFECTING REDUCTIONS IN BASE ...
10,DIS,2020-03-27 19:53:12,Disney Says Disneyland Resort And Walt Disney ...,:WALT DISNEY CO SAYS DISNEYLAND RESORT AND WAL...
11,DIS,2020-03-23 14:05:59,"Walt Disney Co Says On March 19, 2020, Entered...","WALT DISNEY CO SAYS ON MARCH 19, 2020, ENTERED..."
12,DIS,2020-03-19 18:00:49,Walt Disney Files Preliminary Prospectus Suppl...,WALT DISNEY FILES PRELIMINARY PROSPECTUS SUPPL...
13,DIS,2020-03-17 22:23:37,Walt Disney Co Says Shareholders Approved Amen...,"WALT DISNEY CO - ON MARCH 11, SHAREHOLDERS APP..."
14,DIS,2020-03-13 00:36:10,"Disney Closure Of Theme Parks In Florida, Disn...",:THEME PARKS AT WALT DISNEY WORLD RESORT IN FL...
15,DIS,2020-03-12 22:32:41,S&P Revises Walt Disney's Outlook To Negative ...,S&P :S&P SAYS THE WALT DISNEY CO. OUTLOOK REVI...
16,DIS,2020-03-11 21:54:48,Walt Disney Says Entered Into New $5.25 Billio...,"WALT DISNEY - ON MARCH 6, CO ENTERED INTO NEW ..."
17,DIS,2020-02-25 21:34:47,Disney Says Bob Chapek To Succeed CEO Robert Iger,BOB CHAPEK NAMED CHIEF EXECUTIVE OFFICER OF TH...
18,DIS,2020-02-21 12:48:02,Hasbro And Disney Extend Strategic Merchandisi...,HASBRO AND DISNEY EXTEND STRATEGIC MERCHANDISI...
19,DIS,2020-02-04 22:48:12,Disney Says Shanghai And Hong Kong Parks Closu...,WALT DISNEY - RECENT CLOSURE OF PARKS IN SHAN...

In [17]:
hub.available_metrics

['price',
 'valuation',
 'growth',
 'margin',
 'management',
 'financialStrength',
 'perShare']

In [18]:
hub.metrics('AMZN', 'management')

                                   AMZN
assetTurnoverAnnual             1.44638
assetTurnoverTTM                1.48381
inventoryTurnoverAnnual         8.78851
inventoryTurnoverTTM            9.96758
netIncomeEmployeeAnnual     16052.58000
netIncomeEmployeeTTM        13378.45000
receivablesTurnoverAnnual      15.07494
receivablesTurnoverTTM         17.86176
revenueEmployeeAnnual      388131.40000
revenueEmployeeTTM         371269.40000
roaRfy                          5.98202
roaa5Y                          4.61216
roae5Y                         19.03761
roaeTTM                        18.58166
roeRfy                         21.94510
roeTTM                          5.34682
roi5Y                           8.38666
roiAnnual                      10.01498
roiTTM                          8.34278

In [19]:
hub.all_metrics('AMZN')

                                                AMZN
price    10DayAverageTradingVolume           5.49385
         13WeekPriceReturnDaily              15.2652
         26WeekPriceReturnDaily              30.9333
         3MonthAverageTradingVolume          128.822
         52WeekHigh                             2475
...                                              ...
perShare freeCashFlowPerShareTTM             38.3865
         revenuePerShareAnnual               556.591
         revenuePerShareTTM                  587.261
         tangibleBookValuePerShareAnnual     86.8615
         tangibleBookValuePerShareQuarterly  101.269

[129 rows x 1 columns]

In [21]:
hub.ipos(start='2020-01-01')

Not possible parse dates of date

,exchange,name,numberOfShares,price,status,symbol,totalSharesValue
date,,,,,,,
2020-05-08,NASDAQ Global Select,KINGSOFT CLOUD HOLDINGS LTD,25000000.0,16.00-18.00,expected,KC,517500000.0
2020-05-08,NASDAQ Capital,CHINA LIBERAL EDUCATION HOLDINGS LTD,1333333.0,6.00,expected,CLEU,8000000.0
2020-05-08,NASDAQ Global,"AYALA PHARMACEUTICALS, INC.",3333334.0,14.00-16.00,expected,AYLA,61333344.0
2020-05-06,NYSE,LIVE OAK ACQUISITION CORP,20000000.0,10.00,priced,LOAKU,200000000.0
2020-05-06,NYSE,SUSTAINABLE OPPORTUNITIES ACQUISITION CORP.,30000000.0,10.00,priced,SOACU,300000000.0
...,...,...,...,...,...,...,...
2020-01-08,None,"ARDENT HEALTH PARTNERS, LLC",NaN,None,withdrawn,None,NaN
2020-01-06,None,"ARCUTIS BIOTHERAPEUTICS, INC.",NaN,None,filed,ARQT,159375000.0
2020-01-03,None,"BLACK DIAMOND THERAPEUTICS, INC.",NaN,None,filed,BDTX,201140004.0
2020-01-03,None,1LIFE HEALTHCARE INC,NaN,None,filed,ONEM,245000000.0
2020-01-02,None,"AVADIM HEALTH, INC.",NaN,None,filed,AHI,92000000.0

In [22]:
hub.recommendation('MMM')

            strongBuy  buy  hold  sell  strongSell
period
2020-05-01          4    1     7     3           0
2020-04-01          0    3    13     2           1
2020-03-01          0    2    14     2           1
2020-02-01          3    3     8     2           2
2020-01-01          3    3     8     2           2
2019-12-01          3    3     8     2           2
2019-11-01          3    3     8     2           2
2019-10-01          3    3     8     2           2
2019-09-01          3    3     8     2           2
2019-08-01          3    3     8     2           2
2019-07-01          3    3     8     2           2
2019-06-01          3    3     8     2           2
2019-05-01          3    3     8     2           2
2019-04-01          3    3     8     2           2
2019-03-01          3    3     8     2           2
2019-02-01          3    3     7     2           2
2019-01-01          3    3     8     2           2

In [23]:
hub.price_target(['AMZN','MSFT','GOOGL'])

                             AMZN                GOOGL                 MSFT
lastUpdated   2020-05-14 00:00:00  2020-05-14 00:00:00  2020-05-14 00:00:00
symbol                       AMZN                GOOGL                 MSFT
targetHigh                   3000                 1800                  220
targetLow                    1850                 1270                  133
targetMean                2645.67              1515.73               193.94
targetMedian                 2700                 1500                  200

In [24]:
hub.upgrade_downgrade(['NFLX','DIS'])

    action                   company                             fromGrade  \
       DIS  NFLX                 DIS                        NFLX       DIS
0     main  main         RBC Capital  SunTrust Robinson Humphrey
1     main  main           JP Morgan              Morgan Stanley
2     main  main         BMO Capital            Imperial Capital
3     main    up           Bernstein                 Wells Fargo
4     down  main  LightShed Partners                     Wedbush   Neutral
..     ...   ...                 ...                         ...       ...
451    NaN  down                 NaN                    B. Riley       NaN
452    NaN  main                 NaN                Bank oferica       NaN
453    NaN  main                 NaN               Goldman Sachs       NaN
454    NaN  main                 NaN                   Dougherty       NaN
455    NaN  main                 NaN           Canaccord Genuity       NaN

                  gradeTime            symbol               toGrade  \
            NFLX        DIS       NFLX    DIS  NFLX             DIS
0                2020-05-06 2020-04-23    DIS  NFLX  Sector Perform
1                2020-05-06 2020-04-23    DIS  NFLX      Overweight
2                2020-05-06 2020-04-23    DIS  NFLX      Outperform
3    Underweight 2020-05-06 2020-04-22    DIS  NFLX  Market Perform
4                2020-05-05 2020-04-22    DIS  NFLX            Sell
..           ...        ...        ...    ...   ...             ...
451                     NaT 2012-07-25    NaN  NFLX             NaN
452                     NaT 2012-05-31    NaN  NFLX             NaN
453                     NaT 2012-04-24    NaN  NFLX             NaN
454                     NaT 2012-04-24    NaN  NFLX             NaN
455                     NaT 2012-04-24    NaN  NFLX             NaN


             NFLX
0             Buy
1      Overweight
2      Outperform
3    Equal-Weight
4    Underperform
..            ...
451          Sell
452  Underperform
453       Neutral
454       Neutral
455          Sell

[456 rows x 12 columns]

In [25]:
hub.economic_code()

                   code   country                      name              unit
0         MA-ABW-667984     Aruba          Balance Of Trade       AFI Million
1         MA-ABW-678073     Aruba  Consumer Price Index Cpi   points 2019=100
2       MA-ABW-67807367     Aruba            Inflation Rate  percent 2006=100
3         MA-ABW-678482     Aruba        Corporate Tax Rate           percent
4     MA-ABW-6988867976     Aruba                   Exports       AFI Million
...                 ...       ...                       ...               ...
8240    MA-ZWE-80738482  Zimbabwe  Personal Income Tax Rate           percent
8241      MA-ZWE-807980  Zimbabwe                Population           million
8242      MA-ZWE-838482  Zimbabwe           Sales Tax Rate            percent
8243    MA-ZWE-84798582  Zimbabwe          Tourist Arrivals
8244      MA-ZWE-857882  Zimbabwe         Unemployment Rate           percent

[8245 rows x 4 columns]

In [26]:
hub.economic('MA-ABW-67807367')

Not possible parse dates of date

            value
date
2020-01-31   5.50
2019-12-31   5.20
2019-11-30   4.80
2019-10-31   5.00
2019-09-30   4.40
...           ...
2000-05-31   4.32
2000-04-30   4.35
2000-03-31   4.30
2000-02-29   3.80
2000-01-31   3.71

[241 rows x 1 columns]

In [27]:
hub.economic_calendar()

Not possible parse dates of date

,actual,comment,country,currency,date,forecast,id,importance,indicator,link,period,previous,scale,source,title,unit
0,None,Electronic Card Transaction (ECT) is a monthly...,NZ,NZD,2020-05-10T22:45:00.000Z,NaN,12996637 2020-05-10 22:45:00 +0000 UTC NZD New...,-1,Elec Card Retail Sale MM,,Apr. 2020,-3.900000e+00,,Stats NZ,New Zealand-ECARD-Elec Card Retail Sale MM,%
1,None,Electronic Card Transaction (ECT) is a monthly...,NZ,NZD,2020-05-10T22:45:00.000Z,NaN,12996637 2020-05-10 22:45:00 +0000 UTC NZD New...,-1,Elec Card Retail Sale YY,,Apr. 2020,-1.800000e+00,,Stats NZ,New Zealand-ECARD-Elec Card Retail Sale YY,%
2,None,"Percentage of respondents who say they find ""J...",US,USD,2020-05-11T14:00:00.000Z,NaN,12984259 2020-05-11 14:00:00 +0000 UTC USD Uni...,-1,Employment Trends*,,Apr. 2020,6.039000e+01,,Conf Board,United States-Employment/unemployment-Employme...,Index
3,None,,US,USD,2020-05-11T15:00:00.000Z,NaN,13069866 2020-05-11 15:00:00 +0000 UTC USD Uni...,-1,Exp Soybean Inspected,,"w/o May. 4, 2020",3.181000e+02,K,Agricul Dept,United States-exinspect-Exp Soybean Inspected,Tonne
4,None,,US,USD,2020-05-11T15:00:00.000Z,NaN,13069866 2020-05-11 15:00:00 +0000 UTC USD Uni...,-1,Export Corn Inspected,,"w/o May. 4, 2020",1.217218e+03,K,Agricul Dept,United States-exinspect-Export Corn Inspected,Tonne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,None,,JP,JPY,2020-05-13T23:50:00.000Z,NaN,12749615 2020-05-13 23:50:00 +0000 UTC JPY Jap...,0,M2 Money Supply,,Apr. 2020,1.051983e+07,h. M,,Japan-Money Supply-M2 Money Supply,JPY
123,None,"Securities investment, contract basis. Securit...",JP,JPY,2020-05-13T23:50:00.000Z,NaN,13060377 2020-05-13 23:50:00 +0000 UTC JPY Jap...,-1,Foreign Bond Investment,,"w/o May. 4, 2020",NaN,B,MOF,Japan-Capital flows data-Foreign Bond Investment,JPY
124,None,,JP,JPY,2020-05-13T23:50:00.000Z,NaN,13060377 2020-05-13 23:50:00 +0000 UTC JPY Jap...,0,Foreign Invest JP Bonds,,"w/o May. 4, 2020",NaN,B,,Japan-Capital flows data-Foreign Invest JP Bonds,JPY
125,None,Balance of payments is a set of accounts recor...,JP,JPY,2020-05-13T23:50:00.000Z,NaN,13060377 2020-05-13 23:50:00 +0000 UTC JPY Jap...,0,Foreign Invest JP Stock,,"w/o May. 4, 2020",NaN,B,MOF,Japan-Capital flows data-Foreign Invest JP Stock,JPY
126,None,,JP,JPY,2020-05-13T23:50:00.000Z,NaN,13060377 2020-05-13 23:50:00 +0000 UTC JPY Jap...,0,Foreign Stock Investment,,"w/o May. 4, 2020",NaN,B,,Japan-Capital flows data-Foreign Stock Investment,JPY

In [28]:
hub.indicator_info('macd')

Techical Indicator: MACD
Description: Returns the moving average convergence / divergence (MACD) values
Arguments: - indicator (required) = macd
- seriestype (optional): The price type in the time series. Option are: c, o, h and l (default c)
- fastperiod (optional): Positive integer accepted (default = 12)
- slowperiod (optional): Positive integer accepted (default = 26)
- signalperiod (optional): Positive integer accepted (default = 9)
Response Attributes: - macd:
- macdSignal:
- macdHist:

In [29]:
hub.indicator(['AAPL','MSFT'], indicator='ema', start='2019-06-01', indicator_fields={'timeperiod': 27})

                      close                 ema                high          \
                       AAPL    MSFT        AAPL        MSFT    AAPL    MSFT
datetime
2019-05-31 13:30:00  175.07  123.68         NaN         NaN  177.99  124.62
2019-06-03 13:30:00  173.30  119.84         NaN         NaN  177.92  124.37
2019-06-04 13:30:00  179.64  123.16         NaN         NaN  179.83  123.28
2019-06-05 13:30:00  182.54  125.83         NaN         NaN  184.99  125.87
2019-06-06 13:30:00  185.22  127.82         NaN         NaN  185.47  127.97
...                     ...     ...         ...         ...     ...     ...
2020-05-04 13:30:00  293.16  178.84  276.999287  169.301360  293.69  179.00
2020-05-05 13:30:00  297.56  180.76  278.467909  170.119835  301.00  183.65
2020-05-06 13:30:00  300.63  182.54  280.050916  171.006989  303.24  184.20
2020-05-07 13:30:00  303.74  183.60  281.742993  171.906490  305.17  184.55
2020-05-08 13:30:00  310.13  184.68  283.770637  172.818884  310.35  185.00

                        low            open            volume
                       AAPL    MSFT    AAPL    MSFT      AAPL      MSFT
datetime
2019-05-31 13:30:00  174.99  123.32  176.23  124.23  27043600  26646800
2019-06-03 13:30:00  170.27  119.01  175.60  123.85  40396100  37983600
2019-06-04 13:30:00  174.52  120.65  175.44  121.28  30968000  29382600
2019-06-05 13:30:00  181.14  124.21  184.28  124.95  29773400  24926100
2019-06-06 13:30:00  182.15  125.60  183.08  126.44  22526300  21459000
...                     ...     ...     ...     ...       ...       ...
2020-05-04 13:30:00  286.32  173.80  289.17  174.49  33392000  30372900
2020-05-05 13:30:00  294.46  179.90  295.06  180.62  36937800  36839200
2020-05-06 13:30:00  298.87  181.63  300.46  182.08  35583400  32139300
2020-05-07 13:30:00  301.97  182.58  303.22  184.17  28803800  28316000
2020-05-08 13:30:00  304.29  183.36  305.64  184.98  33459600  30877800

[238 rows x 12 columns]

In [31]:
indicator_schema = {
    'sma_10': ('sma', {'timeperiod': 10}),
    'sma_30': ('sma', {'timeperiod': 30}),
    'macd_7_14': ('macd', {'fastperiod': 7, 'solwperiod': 14, 'signalperiod': 4}),
    'bbands_7': ('bbands', {'timeperiod':7, 'seriestype': 'open'})
}
symbol = ['AAPL','MSFT']
start='2020-01-01'

hub.indicators_bulk(symbol, start, indicators_schema=indicator_schema)

                      price                                                  \
                      close            high             low            open
                       AAPL    MSFT    AAPL    MSFT    AAPL    MSFT    AAPL
datetime
2019-12-31 14:30:00  293.65  157.70  293.68  157.77  289.52  156.45  289.93
2020-01-02 14:30:00  300.35  160.62  300.60  160.73  295.19  158.33  296.24
2020-01-03 14:30:00  297.43  158.62  300.58  159.95  296.50  158.06  297.15
2020-01-06 14:30:00  299.80  159.03  299.96  159.10  292.75  156.51  293.79
2020-01-07 14:30:00  298.39  157.58  300.90  159.67  297.48  157.32  299.84
...                     ...     ...     ...     ...     ...     ...     ...
2020-05-04 13:30:00  293.16  178.84  293.69  179.00  286.32  173.80  289.17
2020-05-05 13:30:00  297.56  180.76  301.00  183.65  294.46  179.90  295.06
2020-05-06 13:30:00  300.63  182.54  303.24  184.20  298.87  181.63  300.46
2020-05-07 13:30:00  303.74  183.60  305.17  184.55  301.97  182.58  303.22
2020-05-08 13:30:00  310.13  184.68  310.35  185.00  304.29  183.36  305.64

                                                 ... macd_7_14            \
                               volume            ...  macdHist
                       MSFT      AAPL      MSFT  ...      AAPL      MSFT
datetime                                         ...
2019-12-31 14:30:00  156.77  25201400  18369400  ...       NaN       NaN
2020-01-02 14:30:00  158.78  33870100  22622100  ...       NaN       NaN
2020-01-03 14:30:00  158.32  36580700  21116200  ...       NaN       NaN
2020-01-06 14:30:00  157.08  29596800  20813700  ...       NaN       NaN
2020-01-07 14:30:00  159.32  27218000  21634100  ...       NaN       NaN
...                     ...       ...       ...  ...       ...       ...
2020-05-04 13:30:00  174.49  33392000  30372900  ...  0.069053  0.013983
2020-05-05 13:30:00  180.62  36937800  36839200  ...  0.103537  0.046574
2020-05-06 13:30:00  182.08  35583400  32139300  ...  0.118991  0.066686
2020-05-07 13:30:00  184.17  28803800  28316000  ...  0.122715  0.064925
2020-05-08 13:30:00  184.98  33459600  30877800  ...  0.173528  0.054752

                                            bbands_7                          \
                    macdSignal             lowerband              middleband
                          AAPL      MSFT        AAPL        MSFT        AAPL
datetime
2019-12-31 14:30:00        NaN       NaN         NaN         NaN         NaN
2020-01-02 14:30:00        NaN       NaN         NaN         NaN         NaN
2020-01-03 14:30:00        NaN       NaN         NaN         NaN         NaN
2020-01-06 14:30:00        NaN       NaN         NaN         NaN         NaN
2020-01-07 14:30:00        NaN       NaN         NaN         NaN         NaN
...                        ...       ...         ...         ...         ...
2020-05-04 13:30:00   0.743241  0.318367  276.791306  170.641440  284.884286
2020-05-05 13:30:00   0.812266  0.349417  279.380655  171.530421  287.435714
2020-05-06 13:30:00   0.891593  0.393874  279.366293  171.039075  290.101429
2020-05-07 13:30:00   0.973403  0.437157  279.566022  170.959552  292.692857
2020-05-08 13:30:00   1.089089  0.473659  281.673687  172.967129  295.680000


                                  upperband
                           MSFT        AAPL        MSFT
datetime
2019-12-31 14:30:00         NaN         NaN         NaN
2020-01-02 14:30:00         NaN         NaN         NaN
2020-01-03 14:30:00         NaN         NaN         NaN
2020-01-06 14:30:00         NaN         NaN         NaN
2020-01-07 14:30:00         NaN         NaN         NaN
...                         ...         ...         ...
2020-05-04 13:30:00  175.392857  292.977266  180.144275
2020-05-05 13:30:00  176.615714  295.490774  181.701008
2020-05-06 13:30:00  177.400000  300.836564  183.760925
2020-05-07 13:30:00  178.625714  305.819692  186.291876
2020-05-08 13:30:00  180.305714  309.686313  187.644300

[90 rows x 26 columns]