In [31]:
from personal import paduel
your_finnhub_api_key_here = paduel.finnhub_api_key

In [2]:
from fhub import Session

hub = Session(your_finnhub_api_key_here)

In [32]:
from pyfinnhub.fhub import Session
hub = Session(your_finnhub_api_key_here)

In [3]:
# Download prices time serie of Tesla.
hub.candle('TSLA')

                            close    high     low    open    volume
datetime
2010-06-29 13:30:00+00:00   23.89   25.00   17.54   19.00  18766300
2010-06-30 13:30:00+00:00   23.83   30.42   23.30   25.79  17187100
2010-07-01 13:30:00+00:00   21.96   25.92   20.27   25.00   8218800
2010-07-02 13:30:00+00:00   19.20   23.10   18.71   23.00   5139800
2010-07-06 13:30:00+00:00   16.11   20.00   15.83   20.00   6866900
...                           ...     ...     ...     ...       ...
2020-05-06 13:30:00+00:00  782.58  789.80  761.11  776.50  11123200
2020-05-07 13:30:00+00:00  780.04  796.40  772.35  777.21  11527700
2020-05-08 13:30:00+00:00  819.42  824.00  787.01  793.77  16130100
2020-05-11 13:30:00+00:00  811.29  824.00  785.00  790.51  16471100
2020-05-12 13:30:00+00:00  809.41  843.29  808.00  827.00  15844000

[2485 rows x 5 columns]

In [ ]:
news

In [7]:
# Download prices for several tickers from a date.
hub.candle(['AMZN', 'NFLX', 'DIS'], start="2018-01-01")

                               close                         high            \
                                AMZN       DIS    NFLX       AMZN       DIS
datetime
2018-01-02 14:30:00+00:00  1189.0100  108.7261  201.07  1190.0000  108.7361
2018-01-03 14:30:00+00:00  1204.2000  109.1929  205.05  1205.4900  110.1029
2018-01-04 14:30:00+00:00  1209.5900  109.1442  205.63  1215.8700  109.9142
2018-01-05 14:30:00+00:00  1229.1400  108.5510  209.99  1229.1400  109.6110
2018-01-08 14:30:00+00:00  1246.8700  106.9950  212.05  1253.0800  108.2550
...                              ...       ...     ...        ...       ...
2020-05-06 13:30:00+00:00  2351.2600  100.8800  434.26  2357.4500  105.2700
2020-05-07 13:30:00+00:00  2367.6101  105.5700  436.53  2376.0000  105.6100
2020-05-08 13:30:00+00:00  2379.6101  109.1600  435.55  2387.2400  109.1800
2020-05-11 13:30:00+00:00  2409.0000  107.7700  440.52  2419.6699  108.8100
2020-05-12 13:30:00+00:00  2356.9500  104.5600  431.82  2418.9995  109.4400

                                         low                         open  \
                             NFLX       AMZN       DIS    NFLX       AMZN
datetime
2018-01-02 14:30:00+00:00  201.65  1170.5100  105.4861  195.42  1172.0000
2018-01-03 14:30:00+00:00  206.21  1188.3000  108.3629  201.50  1188.3000
2018-01-04 14:30:00+00:00  207.05  1204.6600  108.5442  204.00  1205.0000
2018-01-05 14:30:00+00:00  210.02  1210.0000  108.1710  205.59  1217.5100
2018-01-08 14:30:00+00:00  212.50  1232.0300  106.5150  208.44  1236.0000
...                           ...        ...       ...     ...        ...
2020-05-06 13:30:00+00:00  439.77  2320.0000   98.8600  426.39  2329.4399
2020-05-07 13:30:00+00:00  438.88  2343.1101  101.8300  430.66  2374.7800
2020-05-08 13:30:00+00:00  442.00  2357.0000  106.6300  433.64  2372.1399
2020-05-11 13:30:00+00:00  444.89  2372.1101  106.4100  435.56  2374.7000
2020-05-12 13:30:00+00:00  444.17  2355.0000  104.5300  431.36  2411.8501

                                              volume
                                DIS    NFLX     AMZN       DIS      NFLX
datetime
2018-01-02 14:30:00+00:00  105.8761  196.10  2694500  11014300  10966900
2018-01-03 14:30:00+00:00  109.1029  202.05  3108800   9237900   8591400
2018-01-04 14:30:00+00:00  109.8642  206.20  3022100   7417400   6029600
2018-01-05 14:30:00+00:00  109.6110  207.25  3544700   6008300   7033200
2018-01-08 14:30:00+00:00  107.8650  210.02  4279500   8052600   5580200
...                             ...     ...      ...       ...       ...
2020-05-06 13:30:00+00:00  101.4800  429.30  3117800  51992400   6660700
2020-05-07 13:30:00+00:00  101.8500  436.89  3396400  20868800   5641900
2020-05-08 13:30:00+00:00  109.0500  434.14  3211200  24101700   5054300
2020-05-11 13:30:00+00:00  108.4000  436.33  3253700  20541400   5480300
2020-05-12 13:30:00+00:00  109.0600  436.33  3074916  16714483   4598211

[594 rows x 15 columns]

In [8]:
hub.exchanges('forex')

         forex
0        oanda
1         fxcm
2    forex.com
3       octafx
4        fxpig
5  pepperstone
6    icmtrader
7   ic markets
8        fxpro

In [9]:
hub.symbols('ic markets', kind='forex')

,description,displaySymbol,symbol
0,IC MARKETS Silver vs Euro XAGEUR,XAG/EUR,IC MARKETS:44
1,IC MARKETS Silver vs US Dollar XAGUSD,XAG/USD,IC MARKETS:42
2,IC MARKETS Gold vs Euro XAUEUR,XAU/EUR,IC MARKETS:43
3,IC MARKETS Gold vs US Dollar XAUUSD,XAU/USD,IC MARKETS:41
4,IC MARKETS Euro vs US Dollar EURUSD,EUR/USD,IC MARKETS:1
...,...,...,...
77,IC MARKETS Brent Crude Oil XBRUSD,XBR/USD,IC MARKETS:10018
78,IC MARKETS WTI Light Crude Oil XTIUSD,XTI/USD,IC MARKETS:10019
79,IC MARKETS Euro vs US Dollar EURUSDt,EUR10023/USD,IC MARKETS:10023
80,IC MARKETS Bitcoin BTCUSD,BTC/USD,IC MARKETS:10026
81,IC MARKETS Great Britain Pound vs Turkish Lira...,GBP/TRY,IC MARKETS:10031

In [10]:
hub.quote('OANDA:XAU_NZD')

                            OANDA:XAU_NZD
close                             2830.09
high                              2837.48
low                               2792.38
open                              2800.97
previous_close                    2799.63
datetime        2020-05-12 21:00:00+00:00

In [11]:
hub.candle('IC MARKETS:44', kind='forex')

                            close    high     low    open  volume
datetime
2019-05-12 21:00:00+00:00  13.127  13.160  12.992  13.149   25589
2019-05-13 21:00:00+00:00  13.186  13.243  13.111  13.152   26572
2019-05-14 21:00:00+00:00  13.193  13.255  13.167  13.192   26853
2019-05-15 21:00:00+00:00  13.016  13.221  12.978  13.198   22359
2019-05-16 21:00:00+00:00  12.881  13.024  12.881  13.016   24301
...                           ...     ...     ...     ...     ...
2020-05-06 21:00:00+00:00  14.164  14.243  13.693  13.701   48996
2020-05-07 21:00:00+00:00  14.260  14.403  14.031  14.148   45536
2020-05-10 21:00:00+00:00  14.320  14.403  14.125  14.252   40589
2020-05-11 21:00:00+00:00  14.231  14.383  14.215  14.299   37736
2020-05-12 21:00:00+00:00  14.327  14.342  14.218  14.228    8553

[260 rows x 5 columns]

In [12]:
hub.covid19()

                        state    case  death             updated
0                    New York  347761  26824 2020-05-13 02:00:02
1                  New Jersey  140206   9340 2020-05-13 02:00:02
2                  California   68222   2724 2020-05-13 02:00:02
3                    Michigan   47552   4584 2020-05-13 02:00:02
4                     Florida   40982   1735 2020-05-13 02:00:02
..                        ...     ...    ...                 ...
57              Wuhan Evacuee       4      0 2020-05-13 02:00:02
58   Northern Mariana Islands      19      2 2020-05-13 02:00:02
59                US Military    8046     27 2020-05-13 02:00:02
60  Federal Bureau of Prisons    3744     49 2020-05-13 02:00:02
61             Veteran Affair   11163    871 2020-05-13 02:00:02

[62 rows x 4 columns]

In [13]:
hub.executive('AAPL')

,age,compensation,currency,name,position,sex,since,symbol
0,69.0,557922.0,USD,Dr. Arthur Levinson,Independent Chairman of the Board,male,2011,AAPL
1,59.0,11555466.0,USD,Mr. Timothy Cook,"Chief Executive Officer, Director",male,2011,AAPL
2,56.0,25209637.0,USD,Mr. Luca Maestri,"Chief Financial Officer, Senior Vice President",male,2014,AAPL
3,56.0,25207919.0,USD,Mr. Jeffrey Williams,Chief Operating Officer,male,2018,AAPL
4,55.0,25231800.0,USD,Ms. Katherine Adams,"Senior Vice President, General Counsel, Secretary",female,2017,AAPL
5,58.0,11677211.0,USD,Mr. Philip Schiller,Senior Vice President - Worldwide Marketing,male,2002,AAPL
6,56.0,22807544.0,USD,Mr. Eddy Cue,Senior Vice President - Internet Software and ...,male,2011,AAPL
7,48.0,NaN,,Mr. Craig Federighi,Senior Vice President - Software Engineering,male,2012,AAPL
8,NaN,NaN,,Mr. John Giannandrea,Senior Vice President - Machine Learning and A...,male,2018,AAPL
9,53.0,19159780.0,USD,Ms. Deirdre O'Brien,Senior Vice President - Retail + People,female,2019,AAPL
10,55.0,24146046.0,USD,Mr. Daniel Riccio,Senior Vice President - Hardware Engineering,male,2012,AAPL
11,54.0,24162392.0,USD,Mr. Johny Srouji,Senior Vice President - Hardware Technologies,male,2015,AAPL
12,71.0,355837.0,USD,Mr. James Bell,Independent Director,male,2015,AAPL
13,71.0,360264.0,USD,Mr. Albert Gore,Independent Director,male,2003,AAPL
14,61.0,385388.0,USD,Ms. Andrea Jung,Independent Director,female,2008,AAPL
15,71.0,400878.0,USD,Dr. Ronald Sugar,Independent Director,male,2010,AAPL
16,57.0,354923.0,USD,Ms. Sue Wagner,Independent Director,female,2014,AAPL
17,67.0,398988.0,USD,Mr. Robert Iger,Independent Director,male,2011,AAPL
18,59.0,22278242.0,USD,Ms. Angela Ahrendts,Senior Vice President - Retail,female,2014,AAPL
19,NaN,NaN,,Mr. Jonathan Ive,Chief Design Officer,male,None,AAPL
20,58.0,24146046.0,USD,Mr. Durward Sewell,"Senior Vice President, General Counsel, Secretary",male,2009,AAPL
21,NaN,NaN,,Ms. Nancy Paxton,IR Contact Officer,female,2016,AAPL
22,72.0,25622.0,USD,Mr. Millard Drexler,Independent Director,male,1999,AAPL
23,56.0,4517720.0,USD,Mr. Peter Oppenheimer,Senior Vice President,male,2014,AAPL
24,74.0,NaN,,Mr. William Campbell,Independent Director,male,1997,AAPL
25,NaN,85540637.0,USD,Mr. Robert Mansfield,Senior Vice President - Technologies,male,2013,AAPL
26,54.0,NaN,,Mr. John Browett,Senior Vice President - Retail,male,2012,AAPL
27,43.0,1416527.0,USD,Mr. Scott Forstall,Senior Vice President - iPhone Software Engine...,male,2008,AAPL
28,54.0,1416143.0,USD,Mr. Ronald Johnson,Senior Vice President - Retail,male,2000,AAPL
29,60.0,1.0,USD,Mr. Steven Jobs,Chairman of the Board,male,2011,AAPL
30,NaN,NaN,,Bertrand Serlet,Senior Vice President - Software Engineering,male,2003,AAPL
31,57.0,NaN,,Mr. Mark Papermaster,Senior Vice President - iPhone Engineering,male,None,AAPL
32,80.0,NaN,,Mr. Jerome York,Director,male,1997,AAPL
33,68.0,NaN,,Mr. Daniel Cooperman,"Senior Vice President, General Counsel, Secretary",male,2007,AAPL
34,64.0,NaN,,Dr. Eric Schmidt,Director,male,2006,AAPL
35,56.0,NaN,,Sina Tamaddon,Senior Vice President - Applications,male,2000,AAPL
36,44.0,NaN,,Anthony Fadell,Senior Vice President - iPod Division,male,None,AAPL
37,68.0,NaN,,Mr. Donald Rosenberg,"Senior Vice President, General Counsel, Secretary",male,2006,AAPL
38,74.0,668081.0,USD,Mr. Frederick Anderson,Director,male,2004,AAPL
39,60.0,NaN,,Ms. Nancy Heinen,"Senior Vice President, General Counsel and Sec...",female,1997,AAPL
40,62.0,1116634.0,USD,Mr. Jonathan Rubinstein,"Senior Vice President, iPod Division",male,1997,AAPL
41,58.0,5583019.0,USD,Dr. Avadis Tevanian,"Senior Vice President, Chief Software Technolo...",male,2003,AAPL
42,75.0,NaN,,Mr. Lawrence Ellison,Director,male,1997,AAPL
43,73.0,NaN,,Mr. Gareth Chang,Director,male,1996,AAPL
44,56.0,410141.0,USD,Mitchell Mandich,"Senior Vice President, Worldwide Sales",male,None,AAPL
45,84.0,NaN,,Mr. Edgar Woolard,Director,male,1996,AAPL

In [4]:
hub.news()

,category,datetime,headline,id,image,related,source,summary,url
0,business,2020-05-13 05:41:00+00:00,TUI to make big cost cuts to survive pandemic hit,4329999,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,European travel company TUI said that it neede...,https://www.reuters.com/article/us-health-coro...
1,company news,2020-05-13 05:35:46+00:00,BRIEF-VIB Vermoegen Q1 Adjusted EBT Up At EUR ...,4329944,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,* CONTINUES ITS SUCCESSFUL GROWTH TRAJECTORY I...,https://www.reuters.com/article/brief-vib-verm...
2,business,2020-05-13 05:28:44+00:00,South Korean shoppers go the distance to beat ...,4329943,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,More than a hundred shoppers waited in line to...,https://www.reuters.com/article/us-health-coro...
3,company news,2020-05-13 05:12:55+00:00,Romania - Factors to watch on May 13,4329893,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,"Here are news stories, press\nreports and even...",https://www.reuters.com/article/romania-factor...
4,business,2020-05-13 05:12:14+00:00,Nissan plans $2.8 billion in cuts as part of r...,4329890,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,Nissan Motor Co plans to cut $2.8 billion in ...,https://www.reuters.com/article/us-nissan-rest...
5,business,2020-05-13 05:10:11+00:00,"Mexico's president revs up car industry, and w...",4329891,https://s1.reutersmedia.net/resources/r/?m=02&...,,Reuters,President Andres Manuel Lopez Obrador will lay...,https://www.reuters.com/article/us-health-coro...
6,business,2020-05-13 05:06:46+00:00,"More than 300 lawmakers urge IMF, World Bank t...",4329892,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Over 300 lawmakers from around the world on We...,https://www.reuters.com/article/us-health-coro...
7,company news,2020-05-13 05:03:29+00:00,PRESS DIGEST -Wall Street Journal - May 13,4329829,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,The following are the top stories in the\nWall...,https://www.reuters.com/article/press-digest-w...
8,technology,2020-05-13 05:02:18+00:00,Gaming firm Razer to roll out mask vending mac...,4329831,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Gaming hardware maker Razer Inc plans to dispe...,https://www.reuters.com/article/us-health-coro...
9,company news,2020-05-13 05:00:01+00:00,"Mexico's president revs up car industry, and w...",4329830,,,Reuters,President Andres Manuel\nLopez Obrador will la...,http://feeds.reuters.com/~r/reuters/companyNew...
10,technology,2020-05-13 04:31:27+00:00,Intel Capital invests in Chinese chip companie...,4329717,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,"Intel Capital, the venture arm of chipmaker In...",https://www.reuters.com/article/us-intel-inves...
11,business,2020-05-13 04:25:52+00:00,"Mitsubishi halves SpaceJet development budget,...",4329718,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Mitsubishi Heavy Industries said it was halvi...,https://www.reuters.com/article/us-mhi-spaceje...
12,company news,2020-05-13 04:25:26+00:00,Intel Capital invests in Chinese chip companie...,4329664,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,"Intel Capital, the venture arm\nof chipmaker I...",https://www.reuters.com/article/intel-investme...
13,company news,2020-05-13 04:17:34+00:00,"Mitsubishi halves SpaceJet development budget,...",4329665,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,Mitsubishi Heavy Industries said\nit was halvi...,https://www.reuters.com/article/mhi-spacejet-c...
14,company news,2020-05-13 04:01:30+00:00,UPDATE 2-Australia's CBA takes $970 mln COVID-...,4329608,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,* Bank sees flurry of requests for repayment d...,https://www.reuters.com/article/us-cba-results...
15,technology,2020-05-13 04:00:01+00:00,E-bikes and e-scooters are set to play a key r...,4329610,https://image.cnbcfm.com/api/v1/image/10653344...,,CNBC,UK health minister Matt Hancock has urged the ...,https://www.cnbc.com/2020/05/13/e-bikes-e-scoo...
16,company news,2020-05-13 03:52:19+00:00,Tokyo shares fall as Wall Street slides on vir...,4329557,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,"Japanese stocks fell on\nWednesday, moving fur...",https://www.reuters.com/article/japan-stocks/t...
17,business,2020-05-13 03:45:00+00:00,South Korea shoppers line up before dawn ahead...,4329556,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,More than a hundred shoppers waited in line to...,https://www.reuters.com/article/us-health-coro...
18,top news,2020-05-13 03:21:47+00:00,"Stocks fall on renewed virus fears, Powell spe...",4329441,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,Stocks and oil prices fell on Wednesday as fea...,https://www.reuters.com/article/us-global-mark...
19,company news,2020-05-13 03:09:47+00:00,"Morning News Call - India, May 13",4329442,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,"To access a PDF version of this newsletter, pl...",https://www.reuters.com/article/india-morningc...

In [5]:
hub.company_news('NFLX')

,category,datetime,headline,id,image,related,source,summary,url
0,company,2020-05-13 05:00:32+00:00,The best TV shows of 2020 so far,1950231,https://i.guim.co.uk/img/media/f3f7d731be1b215...,"AEF,IAF,FCO,IFN,NFLX,EPOR,AAPL",theguardian,"The Nest rose above other primetime thrillers,...",https://www.theguardian.com/tv-and-radio/2020/...
1,company,2020-05-13 05:00:32+00:00,Charlie Brooker: 'I assumed I would end up stu...,1950226,https://i.guim.co.uk/img/media/c46790ff4508035...,NFLX,theguardian,The master of dystopian TV is returning for a ...,https://www.theguardian.com/media/2020/may/13/...
2,company,2020-05-13 01:25:32+00:00,New Zealand's ban on large funerals during Cov...,1949187,https://i.guim.co.uk/img/media/90269161a94ece6...,NFLX,theguardian,Opposition leader and indigenous funeral direc...,https://www.theguardian.com/world/2020/may/13/...
3,company,2020-05-13 01:10:57+00:00,Covidsafe app: how Australia’s coronavirus con...,1949200,https://i.guim.co.uk/img/media/29aaf7da7135c9d...,"AAPL,NFLX,GOOGL,CDWD,AMZN,LTCP",theguardian,"The app will ask for your name (or pseudonym),...",https://www.theguardian.com/australia-news/202...
4,company,2020-05-13 00:39:37+00:00,Tencent: Chinese Dragon For Your Portfolio,1949236,https://static3.seekingalpha.com/assets/og_ima...,"NFLX,ATVI,HSIC,PRCP,FB,GOHE,VCLD,TME,TIGR,KSIH...",seekingalpha,Tencent has grown strongly in recent years and...,https://seekingalpha.com/article/4346861-tence...
...,...,...,...,...,...,...,...,...,...
195,company,2020-05-06 16:45:02+00:00,Netflix Income Generation Important For Future...,262791,https://static3.seekingalpha.com/assets/og_ima...,"DIS,MAT,NFLX",seekingalpha,Netflix saw a huge boost to new subscriber add...,https://seekingalpha.com/article/4343633-netfl...
196,company,2020-05-06 16:14:46+00:00,Soccer: Will the player of the future be 'plan...,263035,https://s3.reutersmedia.net/resources/r/?m=02&...,NFLX,reuters,The days of English football's once notorious ...,https://www.reuters.com/article/us-health-socc...
197,company,2020-05-06 15:23:24+00:00,"Investors Finally Get A Wake-Up Call, But Have...",267148,https://static3.seekingalpha.com/assets/og_ima...,"GOOGL,CDWD,AAPL,LTUS,IBM,NFLX,TXN,COKE,KO,MNST...",seekingalpha,The COVID-19 pandemic was a wake-up call for i...,https://seekingalpha.com/article/4343599-inves...
198,company,2020-05-06 13:50:51+00:00,Apple: The Case For $350+ Per Share,263594,https://static3.seekingalpha.com/assets/og_ima...,"FRZT,PXPP,AAPL,RIVX,INTC,MU,NFLX,SSFT,MSFT,VCL...",seekingalpha,The Services tailwind drives another strong qu...,https://seekingalpha.com/article/4343560-apple...
199,company,2020-05-06 13:46:20+00:00,Disney: Why This Stock Has Strong Upside,263621,https://static3.seekingalpha.com/assets/og_ima...,"NFLX,BRK-A,DIS,MAT",seekingalpha,"Disney+ latest figures: 54.5 million, a 9% jum...",https://seekingalpha.com/article/4343555-disne...

In [6]:
hub.major_development('DIS', start='2019-01-01')

,symbol,datetime,headline,description
0,DIS,2020-05-05 22:46:27,The Walt Disney Company Says Q2 EPS Of $0.60 E...,THE WALT DISNEY COMPANY REPORTS SECOND QUARTER...
1,DIS,2020-05-05 22:46:23,"Walt Disney Co Says Furloughed Over 120,000 Em...","WALT DISNEY CO SAYS FURLOUGHED OVER 120,000 OF..."
2,DIS,2020-05-05 21:36:44,The Walt Disney Company To Forgo Next Semi-Ann...,THE WALT DISNEY COMPANY BOARD DECIDES TO FORGO...
3,DIS,2020-05-01 18:10:30,WarnerMedia And Hulu Reach Distribution Agreem...,WARNERMEDIA AND HULU REACH DISTRIBUTION AGREEM...
4,DIS,2020-04-23 13:34:27,S&P Says Disney Ratings Lowered To 'A-' Amid C...,S&P SAYS DISNEY RATINGS LOWERED TO 'A-' AMID C...
5,DIS,2020-04-13 21:32:22,Walt Disney Co Enters 364-Day Credit Agreement...,"WALT DISNEY CO - ON APRIL 10, 2020, ENTERED I..."
6,DIS,2020-04-12 20:41:09,"Disney World Furloughing 43,000 Workers - New ...",":DISNEY WORLD FURLOUGHING 43,000 WORKERS"
7,DIS,2020-04-08 22:49:02,Disney+ Paid Subscriber Count Surpasses 50 Mln...,DISNEY+ PAID SUBSCRIBER COUNT SURPASSES 50 MIL...
8,DIS,2020-04-02 22:22:08,Walt Disney's Furlough Process Will Begin On A...,STATEMENT FROM THE WALT DISNEY COMPANY REGARDI...
9,DIS,2020-03-30 22:38:29,Walt Disney Sees Reductions In Base Salary Amo...,WALT DISNEY CO - EFFECTING REDUCTIONS IN BASE ...
10,DIS,2020-03-27 19:53:12,Disney Says Disneyland Resort And Walt Disney ...,:WALT DISNEY CO SAYS DISNEYLAND RESORT AND WAL...
11,DIS,2020-03-23 14:05:59,"Walt Disney Co Says On March 19, 2020, Entered...","WALT DISNEY CO SAYS ON MARCH 19, 2020, ENTERED..."
12,DIS,2020-03-19 18:00:49,Walt Disney Files Preliminary Prospectus Suppl...,WALT DISNEY FILES PRELIMINARY PROSPECTUS SUPPL...
13,DIS,2020-03-17 22:23:37,Walt Disney Co Says Shareholders Approved Amen...,"WALT DISNEY CO - ON MARCH 11, SHAREHOLDERS APP..."
14,DIS,2020-03-13 00:36:10,"Disney Closure Of Theme Parks In Florida, Disn...",:THEME PARKS AT WALT DISNEY WORLD RESORT IN FL...
15,DIS,2020-03-12 22:32:41,S&P Revises Walt Disney's Outlook To Negative ...,S&P :S&P SAYS THE WALT DISNEY CO. OUTLOOK REVI...
16,DIS,2020-03-11 21:54:48,Walt Disney Says Entered Into New $5.25 Billio...,"WALT DISNEY - ON MARCH 6, CO ENTERED INTO NEW ..."
17,DIS,2020-02-25 21:34:47,Disney Says Bob Chapek To Succeed CEO Robert Iger,BOB CHAPEK NAMED CHIEF EXECUTIVE OFFICER OF TH...
18,DIS,2020-02-21 12:48:02,Hasbro And Disney Extend Strategic Merchandisi...,HASBRO AND DISNEY EXTEND STRATEGIC MERCHANDISI...
19,DIS,2020-02-04 22:48:12,Disney Says Shanghai And Hong Kong Parks Closu...,WALT DISNEY - RECENT CLOSURE OF PARKS IN SHAN...

In [7]:
hub.available_metrics

['price',
 'valuation',
 'growth',
 'margin',
 'management',
 'financialStrength',
 'perShare']

In [8]:
hub.metrics('AMZN', 'management')

                                   AMZN
assetTurnoverAnnual             1.44638
assetTurnoverTTM                1.48381
inventoryTurnoverAnnual         8.78851
inventoryTurnoverTTM            9.96758
netIncomeEmployeeAnnual     16052.58000
netIncomeEmployeeTTM        13378.45000
receivablesTurnoverAnnual      15.07494
receivablesTurnoverTTM         17.86176
revenueEmployeeAnnual      388131.40000
revenueEmployeeTTM         371269.40000
roaRfy                          5.98202
roaa5Y                          4.61216
roae5Y                         19.03761
roaeTTM                        18.58166
roeRfy                         21.94510
roeTTM                          5.34682
roi5Y                           8.38666
roiAnnual                      10.01498
roiTTM                          8.34278

In [9]:
hub.all_metrics('AMZN')

                                                AMZN
price    10DayAverageTradingVolume           5.26478
         13WeekPriceReturnDaily              14.4439
         26WeekPriceReturnDaily              33.2458
         3MonthAverageTradingVolume          128.265
         52WeekHigh                             2475
...                                              ...
perShare freeCashFlowPerShareTTM             38.3865
         revenuePerShareAnnual               556.591
         revenuePerShareTTM                  587.261
         tangibleBookValuePerShareAnnual     86.8615
         tangibleBookValuePerShareQuarterly  101.269

[129 rows x 1 columns]

In [10]:
hub.ipos(start='2020-01-01')

,exchange,name,numberOfShares,price,status,symbol,totalSharesValue
date,,,,,,,
2020-05-11,None,"PLIANT THERAPEUTICS, INC.",NaN,None,filed,PLRX,86250000.0
2020-05-11,None,"Kiromic Biopharma, Inc.",NaN,None,filed,KRBP,20000000.0
2020-05-08,None,Pulmonx Corp,NaN,None,withdrawn,None,NaN
2020-05-08,NASDAQ Global Select,Kingsoft Cloud Holdings Ltd,30000000.0,17.00,priced,KC,510000000.0
2020-05-08,NASDAQ Capital,China Liberal Education Holdings Ltd,1333333.0,6.00,priced,CLEU,7999998.0
...,...,...,...,...,...,...,...
2020-01-08,None,"ARDENT HEALTH PARTNERS, LLC",NaN,None,withdrawn,None,NaN
2020-01-06,None,"ARCUTIS BIOTHERAPEUTICS, INC.",NaN,None,filed,ARQT,159375000.0
2020-01-03,None,"BLACK DIAMOND THERAPEUTICS, INC.",NaN,None,filed,BDTX,201140004.0
2020-01-03,None,1LIFE HEALTHCARE INC,NaN,None,filed,ONEM,245000000.0
2020-01-02,None,"AVADIM HEALTH, INC.",NaN,None,filed,AHI,92000000.0

In [43]:
hub.recommendation('MMM')

            strongBuy  buy  hold  sell  strongSell
period
2020-05-01          4    1     7     3           0
2020-04-01          0    3    13     2           1
2020-03-01          0    2    14     2           1
2020-02-01          3    3     8     2           2
2020-01-01          3    3     8     2           2
2019-12-01          3    3     8     2           2
2019-11-01          3    3     8     2           2
2019-10-01          3    3     8     2           2
2019-09-01          3    3     8     2           2
2019-08-01          3    3     8     2           2
2019-07-01          3    3     8     2           2
2019-06-01          3    3     8     2           2
2019-05-01          3    3     8     2           2
2019-04-01          3    3     8     2           2
2019-03-01          3    3     8     2           2
2019-02-01          3    3     7     2           2
2019-01-01          3    3     8     2           2

In [44]:
hub.price_target(['AMZN','MSFT','GOOGL'])

                             AMZN                GOOGL                 MSFT
lastUpdated   2020-05-14 00:00:00  2020-05-14 00:00:00  2020-05-14 00:00:00
symbol                       AMZN                GOOGL                 MSFT
targetHigh                   3000                 1800                  220
targetLow                    1850                 1270                  133
targetMean                2645.67              1515.73               193.94
targetMedian                 2700                 1500                  200

In [45]:
hub.upgrade_downgrade(['NFLX','DIS'])

    action                   company                             fromGrade  \
       DIS  NFLX                 DIS                        NFLX       DIS
0     main  main         RBC Capital  SunTrust Robinson Humphrey
1     main  main           JP Morgan              Morgan Stanley
2     main  main         BMO Capital            Imperial Capital
3     main    up           Bernstein                 Wells Fargo
4     down  main  LightShed Partners                     Wedbush   Neutral
..     ...   ...                 ...                         ...       ...
451    NaN  down                 NaN                    B. Riley       NaN
452    NaN  main                 NaN                Bank oferica       NaN
453    NaN  main                 NaN               Goldman Sachs       NaN
454    NaN  main                 NaN                   Dougherty       NaN
455    NaN  main                 NaN           Canaccord Genuity       NaN

                                 gradeTime                           symbol  \
            NFLX                       DIS                      NFLX    DIS
0                2020-05-06 00:00:00+00:00 2020-04-23 00:00:00+00:00    DIS
1                2020-05-06 00:00:00+00:00 2020-04-23 00:00:00+00:00    DIS
2                2020-05-06 00:00:00+00:00 2020-04-23 00:00:00+00:00    DIS
3    Underweight 2020-05-06 00:00:00+00:00 2020-04-22 00:00:00+00:00    DIS
4                2020-05-05 00:00:00+00:00 2020-04-22 00:00:00+00:00    DIS
..           ...                       ...                       ...    ...
451                                    NaT 2012-07-25 00:00:00+00:00    NaN
452                                    NaT 2012-05-31 00:00:00+00:00    NaN
453                                    NaT 2012-04-24 00:00:00+00:00    NaN
454                                    NaT 2012-04-24 00:00:00+00:00    NaN
455                                    NaT 2012-04-24 00:00:00+00:00    NaN

                  toGrade
     NFLX             DIS          NFLX
0    NFLX  Sector Perform           Buy
1    NFLX      Overweight    Overweight
2    NFLX      Outperform    Outperform
3    NFLX  Market Perform  Equal-Weight
4    NFLX            Sell  Underperform
..    ...             ...           ...
451  NFLX             NaN          Sell
452  NFLX             NaN  Underperform
453  NFLX             NaN       Neutral
454  NFLX             NaN       Neutral
455  NFLX             NaN          Sell

[456 rows x 12 columns]

In [46]:
hub.economic_code()

                   code   country                      name              unit
0         MA-ABW-667984     Aruba          Balance Of Trade       AFI Million
1         MA-ABW-678073     Aruba  Consumer Price Index Cpi   points 2019=100
2       MA-ABW-67807367     Aruba            Inflation Rate  percent 2006=100
3         MA-ABW-678482     Aruba        Corporate Tax Rate           percent
4     MA-ABW-6988867976     Aruba                   Exports       AFI Million
...                 ...       ...                       ...               ...
8240    MA-ZWE-80738482  Zimbabwe  Personal Income Tax Rate           percent
8241      MA-ZWE-807980  Zimbabwe                Population           million
8242      MA-ZWE-838482  Zimbabwe           Sales Tax Rate            percent
8243    MA-ZWE-84798582  Zimbabwe          Tourist Arrivals
8244      MA-ZWE-857882  Zimbabwe         Unemployment Rate           percent

[8245 rows x 4 columns]

In [3]:
hub.economic('MA-ABW-67807367')

            value
date
2020-01-31   5.50
2019-12-31   5.20
2019-11-30   4.80
2019-10-31   5.00
2019-09-30   4.40
...           ...
2000-05-31   4.32
2000-04-30   4.35
2000-03-31   4.30
2000-02-29   3.80
2000-01-31   3.71

[241 rows x 1 columns]

In [11]:
hub.economic_calendar()

,actual,comment,country,currency,date,forecast,id,importance,indicator,link,period,previous,scale,source,title,unit
0,-34.00,Business confidence is a measure of respondent...,AU,AUD,2020-05-12 01:30:00+00:00,NaN,13098610 2020-05-12 01:30:00 +0000 UTC AUD Aus...,0,NAB Business Conditions,,Apr. 2020,-21.000,,NAB,Australia-Business confidence-NAB Business Con...,Net balance
1,-46.00,Business confidence is a measure of respondent...,AU,AUD,2020-05-12 01:30:00+00:00,NaN,13098610 2020-05-12 01:30:00 +0000 UTC AUD Aus...,0,NAB Business Confidence,,Apr. 2020,-66.000,,NAB,Australia-Business confidence-NAB Business Con...,Net balance
2,-4.90,The coincident index consists of the following...,JP,JPY,2020-05-12 05:00:00+00:00,NaN,13056163 2020-05-12 05:00:00 +0000 UTC JPY Jap...,0,Coincident Index*,,Mar. 2020,-0.300,,Cabinet Off,Japan-Leading indicator-Coincident Index*,Index
3,-8.10,The Leading Indicator is a composite of prior ...,JP,JPY,2020-05-12 05:00:00+00:00,NaN,13056163 2020-05-12 05:00:00 +0000 UTC JPY Jap...,0,Leading Indicator*,,Mar. 2020,1.600,,Cabinet Off,Japan-Leading indicator-Leading Indicator*,Index
4,-1.04,,CA,CAD,2020-05-12 10:00:00+00:00,NaN,12948611 2020-05-12 10:00:00 +0000 UTC CAD Can...,0,Leading Index MM*,,Apr. 2020,-1.600,,,Canada-Leading indicator-Leading Index MM*,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,NaN,,US,USD,2020-05-15 16:00:00+00:00,NaN,13045888 2020-05-15 16:00:00 +0000 UTC USD Uni...,-1,NOPA-Soy Crush,,Apr. 2020,181.374,M,NOPA,United States-NOPA-Soya Crush-NOPA-Soy Crush,Bushel (56lb)
198,NaN,Net purchases of U.S treasury bonds & notes by...,US,USD,2020-05-15 20:00:00+00:00,NaN,12827699 2020-05-15 20:00:00 +0000 UTC USD Uni...,-1,"Foreign Buying, T-Bonds",,Mar. 2020,4.900,B,Dep of Tresu,"United States-Net flows-Foreign Buying, T-Bonds",USD
199,NaN,U.S. securities + Foreign stocks and bonds are...,US,USD,2020-05-15 20:00:00+00:00,NaN,12827699 2020-05-15 20:00:00 +0000 UTC USD Uni...,-1,"Net L-T Flows,Exswaps",,Mar. 2020,49.400,B,Dep of Tresu,"United States-Net flows-Net L-T Flows,Exswaps",USD
200,NaN,U.S. securities + Foreign stocks and bonds (Ne...,US,USD,2020-05-15 20:00:00+00:00,NaN,12827699 2020-05-15 20:00:00 +0000 UTC USD Uni...,-1,"Net L-T Flows,Incl.Swaps",,Mar. 2020,24.700,B,Dep of Tresu,"United States-Net flows-Net L-T Flows,Incl.Swaps",USD
201,NaN,Its is the Sum of [(U.S. securities + Foreign ...,US,USD,2020-05-15 20:00:00+00:00,NaN,12827699 2020-05-15 20:00:00 +0000 UTC USD Uni...,-1,Overall Net Capital Flows,,Mar. 2020,-13.400,B,Dep of Tresu,United States-Net flows-Overall Net Capital Flows,USD

In [12]:
hub.profile2(symbol='AAPL')

                                                                  value
country                                                              US
currency                                                            USD
exchange                                     NASDAQ NMS - GLOBAL MARKET
finnhubIndustry                                              Technology
ipo                                                          1980-12-12
logo                  https://static.finnhub.io/logo/87cb30d8-80df-1...
marketCapitalization                                            1344207
name                                                          Apple Inc
phone                                                       14089961010
shareOutstanding                                                4334.34
ticker                                                             AAPL
weburl                                           https://www.apple.com/

In [13]:
hub.indicator_info('macd')

Techical Indicator: MACD
Description: Returns the moving average convergence / divergence (MACD) values
Arguments: - indicator (required) = macd
- seriestype (optional): The price type in the time series. Option are: c, o, h and l (default c)
- fastperiod (optional): Positive integer accepted (default = 12)
- slowperiod (optional): Positive integer accepted (default = 26)
- signalperiod (optional): Positive integer accepted (default = 9)
Response Attributes: - macd:
- macdSignal:
- macdHist:

In [14]:
hub.indicator(['AAPL','MSFT'], indicator='ema', start='2019-06-01', indicator_fields={'timeperiod': 27})

                            close                 ema                  high  \
                             AAPL    MSFT        AAPL        MSFT      AAPL
datetime
2019-05-31 13:30:00+00:00  175.07  123.68         NaN         NaN  177.9900
2019-06-03 13:30:00+00:00  173.30  119.84         NaN         NaN  177.9200
2019-06-04 13:30:00+00:00  179.64  123.16         NaN         NaN  179.8300
2019-06-05 13:30:00+00:00  182.54  125.83         NaN         NaN  184.9900
2019-06-06 13:30:00+00:00  185.22  127.82         NaN         NaN  185.4700
...                           ...     ...         ...         ...       ...
2020-05-06 13:30:00+00:00  300.63  182.54  280.050916  171.006989  303.2400
2020-05-07 13:30:00+00:00  303.74  183.60  281.742993  171.906490  305.1700
2020-05-08 13:30:00+00:00  310.13  184.68  283.770637  172.818884  310.3500
2020-05-11 13:30:00+00:00  315.01  186.74  286.002020  173.813249  317.0500
2020-05-12 13:30:00+00:00  311.41  182.51  287.816875  174.434446  319.6842

                                      low            open            volume  \
                             MSFT    AAPL    MSFT    AAPL    MSFT      AAPL
datetime
2019-05-31 13:30:00+00:00  124.62  174.99  123.32  176.23  124.23  27043600
2019-06-03 13:30:00+00:00  124.37  170.27  119.01  175.60  123.85  40396100
2019-06-04 13:30:00+00:00  123.28  174.52  120.65  175.44  121.28  30968000
2019-06-05 13:30:00+00:00  125.87  181.14  124.21  184.28  124.95  29773400
2019-06-06 13:30:00+00:00  127.97  182.15  125.60  183.08  126.44  22526300
...                           ...     ...     ...     ...     ...       ...
2020-05-06 13:30:00+00:00  184.20  298.87  181.63  300.46  182.08  35583400
2020-05-07 13:30:00+00:00  184.55  301.97  182.58  303.22  184.17  28803800
2020-05-08 13:30:00+00:00  185.00  304.29  183.36  305.64  184.98  33512000
2020-05-11 13:30:00+00:00  187.51  307.24  182.85  308.10  183.15  36405900
2020-05-12 13:30:00+00:00  187.00  310.91  182.30  317.83  186.80  40575263


                               MSFT
datetime
2019-05-31 13:30:00+00:00  26646800
2019-06-03 13:30:00+00:00  37983600
2019-06-04 13:30:00+00:00  29382600
2019-06-05 13:30:00+00:00  24926100
2019-06-06 13:30:00+00:00  21459000
...                             ...
2020-05-06 13:30:00+00:00  32139300
2020-05-07 13:30:00+00:00  28316000
2020-05-08 13:30:00+00:00  30912600
2020-05-11 13:30:00+00:00  30809400
2020-05-12 13:30:00+00:00  31054656

[240 rows x 12 columns]

In [15]:
indicator_schema = {
    'sma_10': ('sma', {'timeperiod': 10}),
    'sma_30': ('sma', {'timeperiod': 30}),
    'macd_7_14': ('macd', {'fastperiod': 7, 'solwperiod': 14, 'signalperiod': 4}),
    'bbands_7': ('bbands', {'timeperiod':7, 'seriestype': 'open'})
}
symbol = ['AAPL','MSFT']
start='2020-01-01'

hub.indicators_bulk(symbol, start, indicators_schema=indicator_schema)

                            price                                            \
                            close              high             low
                             AAPL    MSFT      AAPL    MSFT    AAPL    MSFT
datetime
2019-12-31 14:30:00+00:00  293.65  157.70  293.6800  157.77  289.52  156.45
2020-01-02 14:30:00+00:00  300.35  160.62  300.6000  160.73  295.19  158.33
2020-01-03 14:30:00+00:00  297.43  158.62  300.5800  159.95  296.50  158.06
2020-01-06 14:30:00+00:00  299.80  159.03  299.9600  159.10  292.75  156.51
2020-01-07 14:30:00+00:00  298.39  157.58  300.9000  159.67  297.48  157.32
...                           ...     ...       ...     ...     ...     ...
2020-05-06 13:30:00+00:00  300.63  182.54  303.2400  184.20  298.87  181.63
2020-05-07 13:30:00+00:00  303.74  183.60  305.1700  184.55  301.97  182.58
2020-05-08 13:30:00+00:00  310.13  184.68  310.3500  185.00  304.29  183.36
2020-05-11 13:30:00+00:00  315.01  186.74  317.0500  187.51  307.24  182.85
2020-05-12 13:30:00+00:00  311.41  182.51  319.6842  187.00  310.91  182.30

                                                               ... macd_7_14  \
                             open            volume            ...  macdHist
                             AAPL    MSFT      AAPL      MSFT  ...      AAPL
datetime                                                       ...
2019-12-31 14:30:00+00:00  289.93  156.77  25201400  18369400  ...       NaN
2020-01-02 14:30:00+00:00  296.24  158.78  33870100  22622100  ...       NaN
2020-01-03 14:30:00+00:00  297.15  158.32  36580700  21116200  ...       NaN
2020-01-06 14:30:00+00:00  293.79  157.08  29596800  20813700  ...       NaN
2020-01-07 14:30:00+00:00  299.84  159.32  27218000  21634100  ...       NaN
...                           ...     ...       ...       ...  ...       ...
2020-05-06 13:30:00+00:00  300.46  182.08  35583400  32139300  ...  0.118991
2020-05-07 13:30:00+00:00  303.22  184.17  28803800  28316000  ...  0.122715
2020-05-08 13:30:00+00:00  305.64  184.98  33512000  30912600  ...  0.173528
2020-05-11 13:30:00+00:00  308.10  183.15  36405900  30809400  ...  0.201638
2020-05-12 13:30:00+00:00  317.83  186.80  40575263  31054656  ...  0.070365

                                                            bbands_7  \
                                    macdSignal             lowerband
                               MSFT       AAPL      MSFT        AAPL
datetime
2019-12-31 14:30:00+00:00       NaN        NaN       NaN         NaN
2020-01-02 14:30:00+00:00       NaN        NaN       NaN         NaN
2020-01-03 14:30:00+00:00       NaN        NaN       NaN         NaN
2020-01-06 14:30:00+00:00       NaN        NaN       NaN         NaN
2020-01-07 14:30:00+00:00       NaN        NaN       NaN         NaN
...                             ...        ...       ...         ...
2020-05-06 13:30:00+00:00  0.066686   0.891593  0.393874  279.366293
2020-05-07 13:30:00+00:00  0.064925   0.973403  0.437157  279.566022
2020-05-08 13:30:00+00:00  0.054752   1.089089  0.473659  281.673687
2020-05-11 13:30:00+00:00  0.058786   1.223514  0.512849  282.819404
2020-05-12 13:30:00+00:00 -0.039155   1.270424  0.486746  285.654919

                                                                           \
                                       middleband               upperband
                                 MSFT        AAPL        MSFT        AAPL
datetime
2019-12-31 14:30:00+00:00         NaN         NaN         NaN         NaN
2020-01-02 14:30:00+00:00         NaN         NaN         NaN         NaN
2020-01-03 14:30:00+00:00         NaN         NaN         NaN         NaN
2020-01-06 14:30:00+00:00         NaN         NaN         NaN         NaN
2020-01-07 14:30:00+00:00         NaN         NaN         NaN         NaN
...                               ...         ...         ...         ...
2020-05-06 13:30:00+00:00  171.039075  290.101429  177.400000  300.836564
2020-05-07 13:30:00+00:00  170.959552  292.692857  178.625714  305.819692
2020-05-08 13:30:00+00:00  172.967129  295.680000  180.305714  309.686313
2020-05-11 13:30:00+00:00  173.165308  298.271429  180.755714  313.723454
2020-05-12 13:30:00+00:00  174.939371  302.782857  182.327143  319.910795



                                 MSFT
datetime
2019-12-31 14:30:00+00:00         NaN
2020-01-02 14:30:00+00:00         NaN
2020-01-03 14:30:00+00:00         NaN
2020-01-06 14:30:00+00:00         NaN
2020-01-07 14:30:00+00:00         NaN
...                               ...
2020-05-06 13:30:00+00:00  183.760925
2020-05-07 13:30:00+00:00  186.291876
2020-05-08 13:30:00+00:00  187.644300
2020-05-11 13:30:00+00:00  188.346121
2020-05-12 13:30:00+00:00  189.714914

[92 rows x 26 columns]

In [1]:
import pandas as pd
from personal import paduel
your_finnhub_api_key_here = paduel.finnhub_api_key

from pyfinnhub.fhub import Session
hub = Session(your_finnhub_api_key_here, verbose=False)

In [2]:
data = hub.financials_as_reported(symbol='TSLA', freq='annual')

In [9]:
data = hub.financials_as_reported(cik=1318605, freq='annual')

In [3]:
data = hub.financials_as_reported(access_number="0000320193-20-000052")

In [6]:
data

,accessNumber,symbol,cik,year,quarter,form,startDate,endDate,filedDate,Assets,...,ProceedsFromMaturitiesPrepaymentsAndCallsOfAvailableForSaleSecurities,OtherComprehensiveIncomeLossAvailableForSaleSecuritiesAdjustmentNetOfTax,OtherComprehensiveIncomeLossCashFlowHedgeGainLossReclassificationAfterTax,OtherComprehensiveIncomeLossForeignCurrencyTransactionAndTranslationAdjustmentNetOfTax,OtherComprehensiveIncomeUnrealizedHoldingGainLossOnSecuritiesArisingDuringPeriodNetOfTax,aapl:OtherComprehensiveIncomeLossDerivativeInstrumentGainLossafterReclassificationandTax,OtherComprehensiveIncomeLossReclassificationAdjustmentFromAOCIForSaleOfSecuritiesNetOfTax,IncomeLossFromContinuingOperationsBeforeIncomeTaxesExtraordinaryItemsNoncontrollingInterest,aapl:OtherComprehensiveIncomeLossDerivativeInstrumentGainLossbeforeReclassificationafterTax,CashCashEquivalentsRestrictedCashAndRestrictedCashEquivalentsPeriodIncreaseDecreaseIncludingExchangeRateEffect
0,0000320193-20-000052,AAPL,320193,2020,2,10-Q,2019-09-29 00:00:00,2020-03-28 00:00:00,2020-05-01 00:00:00,320400000000,...,39738000000,2181000000,236000000,364000000,2200000000,204000000,19000000,39053000000,32000000,7175000000

In [2]:
data = hub.filings(symbol='TSLA')
data

,accessNumber,symbol,cik,form,filedDate,acceptedDate,reportUrl,filingUrl
0,0001771364-20-000005,TSLA,1318605,4,2020-03-19 00:00:00,2020-03-19 21:22:18,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
1,0001564590-20-011823,TSLA,1318605,8-K,2020-03-19 00:00:00,2020-03-19 16:56:17,https://www.sec.gov/ix?doc=/Archives/edgar/dat...,https://www.sec.gov/Archives/edgar/data/131860...
2,0001771340-20-000004,TSLA,1318605,4,2020-03-09 00:00:00,2020-03-09 21:41:22,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
3,0001771340-20-000003,TSLA,1318605,4,2020-03-09 00:00:00,2020-03-09 20:50:17,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
4,0001584518-20-000004,TSLA,1318605,4,2020-03-09 00:00:00,2020-03-09 20:32:34,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
...,...,...,...,...,...,...,...,...
796,0001318605-09-000004,TSLA,1318605,D,2009-04-09 00:00:00,2009-04-09 15:30:06,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
797,9999999997-09-001755,TSLA,1318605,REGDEX,2009-01-12 00:00:00,2009-01-21 17:44:15,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
798,9999999997-08-028570,TSLA,1318605,REGDEX/A,2008-06-13 00:00:00,2008-06-17 11:15:08,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
799,9999999997-07-027033,TSLA,1318605,REGDEX,2007-05-24 00:00:00,2007-06-07 09:37:34,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
800,9999999997-05-026321,TSLA,1318605,REGDEX/A,2005-05-31 00:00:00,2005-06-06 10:49:20,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...

In [3]:
data = hub.filings(cik=1318605)
data

,accessNumber,symbol,cik,form,filedDate,acceptedDate,reportUrl,filingUrl
0,0001564590-20-022062,,1318605,8-K,2020-05-06 00:00:00,2020-05-06 17:22:42,https://www.sec.gov/ix?doc=/Archives/edgar/dat...,https://www.sec.gov/Archives/edgar/data/131860...
1,0001584518-20-000005,,1318605,4,2020-05-04 00:00:00,2020-05-04 21:17:55,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
2,0001811230-20-000002,,1318605,4,2020-05-04 00:00:00,2020-05-04 20:56:48,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
3,0001811230-20-000001,,1318605,3,2020-05-04 00:00:00,2020-05-04 20:38:37,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
4,0001564590-20-019776,,1318605,8-K,2020-04-29 00:00:00,2020-04-29 16:56:22,https://www.sec.gov/ix?doc=/Archives/edgar/dat...,https://www.sec.gov/Archives/edgar/data/131860...
...,...,...,...,...,...,...,...,...
803,0001318605-09-000004,TSLA,1318605,D,2009-04-09 00:00:00,2009-04-09 15:30:06,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
804,9999999997-09-001755,TSLA,1318605,REGDEX,2009-01-12 00:00:00,2009-01-21 17:44:15,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
805,9999999997-08-028570,TSLA,1318605,REGDEX/A,2008-06-13 00:00:00,2008-06-17 11:15:08,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
806,9999999997-07-027033,TSLA,1318605,REGDEX,2007-05-24 00:00:00,2007-06-07 09:37:34,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...
807,9999999997-05-026321,TSLA,1318605,REGDEX/A,2005-05-31 00:00:00,2005-06-06 10:49:20,https://www.sec.gov/Archives/edgar/data/131860...,https://www.sec.gov/Archives/edgar/data/131860...

In [6]:
data = hub.filings(access_number="0000320193-20-000052")
data

                                                              0
accessNumber                               0000320193-20-000052
symbol
cik                                                      320193
form                                                       10-Q
filedDate                                   2020-05-01 00:00:00
acceptedDate                                2020-04-30 18:03:10
reportUrl     https://www.sec.gov/ix?doc=/Archives/edgar/dat...
filingUrl     https://www.sec.gov/Archives/edgar/data/320193...